<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Blocking_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, 17}</string>
			<key>spriteSize</key>
			<string>{51, 35}</string>
			<key>spriteSourceSize</key>
			<string>{51, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 135}, {51, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blocking_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, 7}</string>
			<key>spriteSize</key>
			<string>{51, 55}</string>
			<key>spriteSourceSize</key>
			<string>{51, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 420}, {51, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blocking_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 69}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{51, 69}</string>
			<key>spriteSourceSize</key>
			<string>{51, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{72, 420}, {51, 69}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blocking_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 22}, {45, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -11}</string>
			<key>spriteSize</key>
			<string>{45, 47}</string>
			<key>spriteSourceSize</key>
			<string>{51, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{273, 279}, {45, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blocking_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 44}, {43, 25}}</string>
			<key>spriteOffset</key>
			<string>{2, -22}</string>
			<key>spriteSize</key>
			<string>{43, 25}</string>
			<key>spriteSourceSize</key>
			<string>{51, 69}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 483}, {43, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {33, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{33, 33}</string>
			<key>spriteSourceSize</key>
			<string>{33, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{351, 81}, {33, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {27, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{27, 27}</string>
			<key>spriteSourceSize</key>
			<string>{33, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 483}, {27, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {21, 21}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{21, 21}</string>
			<key>spriteSourceSize</key>
			<string>{33, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 489}, {21, 21}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {17, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{17, 17}</string>
			<key>spriteSourceSize</key>
			<string>{33, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{84, 492}, {17, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 11}, {11, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{11, 11}</string>
			<key>spriteSourceSize</key>
			<string>{33, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 492}, {11, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 11}, {11, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{11, 11}</string>
			<key>spriteSourceSize</key>
			<string>{33, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 279}, {11, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{9, 9}</string>
			<key>spriteSourceSize</key>
			<string>{15, 15}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{102, 492}, {9, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {15, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{15, 15}</string>
			<key>spriteSourceSize</key>
			<string>{15, 15}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{66, 492}, {15, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_Iloveyou_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {42, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 33}</string>
			<key>spriteSourceSize</key>
			<string>{42, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{309, 171}, {42, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_Iloveyou_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {36, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{36, 33}</string>
			<key>spriteSourceSize</key>
			<string>{42, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{312, 81}, {36, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255, 207}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{255, 207}</string>
			<key>spriteSourceSize</key>
			<string>{255, 207}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {255, 207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {255, 207}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{255, 207}</string>
			<key>spriteSourceSize</key>
			<string>{255, 207}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 210}, {255, 207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_Atkv2_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {19, 13}}</string>
			<key>spriteOffset</key>
			<string>{4, 10}</string>
			<key>spriteSize</key>
			<string>{19, 13}</string>
			<key>spriteSourceSize</key>
			<string>{39, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{45, 489}, {19, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_Atkv2_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {25, 25}}</string>
			<key>spriteOffset</key>
			<string>{7, 4}</string>
			<key>spriteSize</key>
			<string>{25, 25}</string>
			<key>spriteSourceSize</key>
			<string>{39, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{339, 117}, {25, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_Atkv2_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {25, 33}}</string>
			<key>spriteOffset</key>
			<string>{7, -0}</string>
			<key>spriteSize</key>
			<string>{25, 33}</string>
			<key>spriteSourceSize</key>
			<string>{39, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{312, 117}, {25, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_Atkv2_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {31, 33}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{31, 33}</string>
			<key>spriteSourceSize</key>
			<string>{39, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{357, 36}, {31, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_Atkv2_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 33}</string>
			<key>spriteSourceSize</key>
			<string>{39, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{315, 45}, {39, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_Atkv2_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 33}</string>
			<key>spriteSourceSize</key>
			<string>{39, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{355, 0}, {39, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_Atkv2_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 11}, {21, 17}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{21, 17}</string>
			<key>spriteSourceSize</key>
			<string>{39, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{24, 489}, {21, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_Bullet.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{9, 9}</string>
			<key>spriteSourceSize</key>
			<string>{9, 9}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 291}, {9, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_Melissa_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{51, 51}</string>
			<key>spriteSourceSize</key>
			<string>{51, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 81}, {51, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_Melissa_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {49, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 51}</string>
			<key>spriteSourceSize</key>
			<string>{51, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 225}, {49, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_Melissa_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {49, 51}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{49, 51}</string>
			<key>spriteSourceSize</key>
			<string>{51, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 171}, {49, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_Trojan_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {69, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{69, 66}</string>
			<key>spriteSourceSize</key>
			<string>{75, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 420}, {69, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_Trojan_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {75, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{75, 60}</string>
			<key>spriteSourceSize</key>
			<string>{75, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{126, 420}, {75, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_Worm_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {54, 33}}</string>
			<key>spriteOffset</key>
			<string>{-6, -0}</string>
			<key>spriteSize</key>
			<string>{54, 33}</string>
			<key>spriteSourceSize</key>
			<string>{66, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 45}, {54, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_Worm_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 33}</string>
			<key>spriteSourceSize</key>
			<string>{66, 33}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 477}, {66, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_WaterTable_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {94, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 42}</string>
			<key>spriteSourceSize</key>
			<string>{94, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{258, 0}, {94, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>computerLevel.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>s</string>
			<key>textureFileName</key>
			<string>s</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>s</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>