<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Blocking_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {102, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 36}</string>
			<key>spriteSize</key>
			<string>{102, 66}</string>
			<key>spriteSourceSize</key>
			<string>{102, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 270}, {102, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blocking_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {102, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 15}</string>
			<key>spriteSize</key>
			<string>{102, 108}</string>
			<key>spriteSourceSize</key>
			<string>{102, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{408, 840}, {102, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blocking_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {102, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{102, 138}</string>
			<key>spriteSourceSize</key>
			<string>{102, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{144, 840}, {102, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blocking_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 48}, {90, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -24}</string>
			<key>spriteSize</key>
			<string>{90, 90}</string>
			<key>spriteSourceSize</key>
			<string>{102, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{546, 558}, {90, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blocking_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 90}, {84, 48}}</string>
			<key>spriteOffset</key>
			<string>{3, -45}</string>
			<key>spriteSize</key>
			<string>{84, 48}</string>
			<key>spriteSourceSize</key>
			<string>{102, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{312, 966}, {84, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 66}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{702, 162}, {66, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {54, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 54}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 966}, {54, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 12}, {42, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 42}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 978}, {42, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 18}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 984}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 24}, {18, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{228, 984}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 24}, {18, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 558}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {18, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{204, 984}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{132, 984}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_Iloveyou_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 66}</string>
			<key>spriteSourceSize</key>
			<string>{84, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{618, 342}, {84, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_Iloveyou_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {72, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{72, 66}</string>
			<key>spriteSourceSize</key>
			<string>{84, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{624, 162}, {72, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {510, 414}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{510, 414}</string>
			<key>spriteSourceSize</key>
			<string>{510, 414}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {510, 414}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {510, 414}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{510, 414}</string>
			<key>spriteSourceSize</key>
			<string>{510, 414}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 420}, {510, 414}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_Atkv2_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 0}, {36, 24}}</string>
			<key>spriteOffset</key>
			<string>{9, 21}</string>
			<key>spriteSize</key>
			<string>{36, 24}</string>
			<key>spriteSourceSize</key>
			<string>{78, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 978}, {36, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_Atkv2_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 0}, {48, 48}}</string>
			<key>spriteOffset</key>
			<string>{15, 9}</string>
			<key>spriteSize</key>
			<string>{48, 48}</string>
			<key>spriteSourceSize</key>
			<string>{78, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{678, 234}, {48, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_Atkv2_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 0}, {48, 66}}</string>
			<key>spriteOffset</key>
			<string>{15, -0}</string>
			<key>spriteSize</key>
			<string>{48, 66}</string>
			<key>spriteSourceSize</key>
			<string>{78, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{624, 234}, {48, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_Atkv2_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 0}, {60, 66}}</string>
			<key>spriteOffset</key>
			<string>{9, -0}</string>
			<key>spriteSize</key>
			<string>{60, 66}</string>
			<key>spriteSourceSize</key>
			<string>{78, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{714, 72}, {60, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_Atkv2_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 66}</string>
			<key>spriteSourceSize</key>
			<string>{78, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{630, 90}, {78, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_Atkv2_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 66}</string>
			<key>spriteSourceSize</key>
			<string>{78, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{710, 0}, {78, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_Atkv2_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 24}, {36, 30}}</string>
			<key>spriteOffset</key>
			<string>{-3, -6}</string>
			<key>spriteSize</key>
			<string>{36, 30}</string>
			<key>spriteSourceSize</key>
			<string>{78, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{48, 978}, {36, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_Bullet.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 582}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_Melissa_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {102, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{102, 102}</string>
			<key>spriteSourceSize</key>
			<string>{102, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 162}, {102, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_Melissa_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {96, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 102}</string>
			<key>spriteSourceSize</key>
			<string>{102, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 450}, {96, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_Melissa_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {96, 102}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 102}</string>
			<key>spriteSourceSize</key>
			<string>{102, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 342}, {96, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_Trojan_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {138, 132}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{138, 132}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 840}, {138, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_Trojan_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {150, 120}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{150, 120}</string>
			<key>spriteSourceSize</key>
			<string>{150, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{252, 840}, {150, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_Worm_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {108, 66}}</string>
			<key>spriteOffset</key>
			<string>{-12, -0}</string>
			<key>spriteSize</key>
			<string>{108, 66}</string>
			<key>spriteSourceSize</key>
			<string>{132, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 90}, {108, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_Worm_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {132, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{132, 66}</string>
			<key>spriteSourceSize</key>
			<string>{132, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{408, 954}, {132, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_WaterTable_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 84}</string>
			<key>spriteSourceSize</key>
			<string>{188, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 0}, {188, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>computerLevel.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-hd</string>
			<key>textureFileName</key>
			<string>-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>