<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Blocking_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {102, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, 36}</string>
			<key>spriteSize</key>
			<string>{102, 66}</string>
			<key>spriteSourceSize</key>
			<string>{102, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{908, 390}, {102, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blocking_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {102, 108}}</string>
			<key>spriteOffset</key>
			<string>{0, 15}</string>
			<key>spriteSize</key>
			<string>{102, 108}</string>
			<key>spriteSourceSize</key>
			<string>{102, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{908, 278}, {102, 108}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blocking_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {102, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{102, 138}</string>
			<key>spriteSourceSize</key>
			<string>{102, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{908, 136}, {102, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blocking_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 48}, {90, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -24}</string>
			<key>spriteSize</key>
			<string>{90, 90}</string>
			<key>spriteSourceSize</key>
			<string>{102, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 924}, {90, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Blocking_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 90}, {84, 48}}</string>
			<key>spriteOffset</key>
			<string>{3, -45}</string>
			<key>spriteSize</key>
			<string>{84, 48}</string>
			<key>spriteSourceSize</key>
			<string>{102, 138}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{273, 648}, {84, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {66, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{66, 66}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{343, 838}, {66, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {54, 54}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{54, 54}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{273, 590}, {54, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 12}, {42, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{42, 42}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{331, 590}, {42, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 18}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 418}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 24}, {18, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{68, 418}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 24}, {18, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{66, 66}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 418}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {18, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{134, 418}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireSpark_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {30, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{30, 30}</string>
			<key>spriteSourceSize</key>
			<string>{30, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{34, 418}, {30, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {450, 414}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{450, 414}</string>
			<key>spriteSourceSize</key>
			<string>{454, 414}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 0}, {450, 414}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {450, 414}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{450, 414}</string>
			<key>spriteSourceSize</key>
			<string>{454, 414}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {450, 414}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level7_JimSpaceCraft_Bullet.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {18, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{18, 18}</string>
			<key>spriteSourceSize</key>
			<string>{18, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{112, 418}, {18, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Bird_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {132, 78}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{132, 78}</string>
			<key>spriteSourceSize</key>
			<string>{138, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{207, 838}, {132, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Bird_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {132, 78}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{132, 78}</string>
			<key>spriteSourceSize</key>
			<string>{138, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 920}, {132, 78}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Garbage_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {114, 132}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{114, 132}</string>
			<key>spriteSourceSize</key>
			<string>{120, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{908, 0}, {114, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Hurdle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {84, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{84, 114}</string>
			<key>spriteSourceSize</key>
			<string>{84, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{185, 590}, {84, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Pig_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {168, 126}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{168, 126}</string>
			<key>spriteSourceSize</key>
			<string>{174, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{207, 708}, {168, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Pig_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {168, 126}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{168, 126}</string>
			<key>spriteSourceSize</key>
			<string>{174, 126}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{185, 460}, {168, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_WaterTable_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {188, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{188, 84}</string>
			<key>spriteSourceSize</key>
			<string>{188, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{94, 924}, {188, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Zombie_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{52, 0}, {181, 252}}</string>
			<key>spriteOffset</key>
			<string>{26, -0}</string>
			<key>spriteSize</key>
			<string>{181, 252}</string>
			<key>spriteSourceSize</key>
			<string>{233, 252}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 460}, {181, 252}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Zombie_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 24}, {203, 204}}</string>
			<key>spriteOffset</key>
			<string>{-15, -0}</string>
			<key>spriteSize</key>
			<string>{203, 204}</string>
			<key>spriteSourceSize</key>
			<string>{233, 252}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 716}, {203, 204}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>computerLevel.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-hd</string>
			<key>textureFileName</key>
			<string>-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>