<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Character_Hurting_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 14}, {149, 270}}</string>
			<key>spriteOffset</key>
			<string>{5, 1}</string>
			<key>spriteSize</key>
			<string>{149, 270}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1070, 0}, {149, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 13}, {141, 270}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{141, 270}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1224, 0}, {141, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 14}, {145, 270}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{145, 270}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1084, 552}, {145, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 12}, {141, 272}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{141, 272}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{924, 0}, {141, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{43, 13}, {143, 270}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{143, 270}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1130, 275}, {143, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 14}, {165, 270}}</string>
			<key>spriteOffset</key>
			<string>{-7, 1}</string>
			<key>spriteSize</key>
			<string>{165, 270}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{960, 277}, {165, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 15}, {151, 268}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{151, 268}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1278, 275}, {151, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 13}, {141, 270}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{141, 270}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1234, 550}, {141, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 11}, {141, 274}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{141, 274}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{748, 558}, {141, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{28, 13}, {157, 272}}</string>
			<key>spriteOffset</key>
			<string>{-6, 1}</string>
			<key>spriteSize</key>
			<string>{157, 272}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{762, 0}, {157, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 14}, {185, 270}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{185, 270}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{894, 556}, {185, 270}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Tumble_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{94, 20}, {160, 264}}</string>
			<key>spriteOffset</key>
			<string>{-21, -2}</string>
			<key>spriteSize</key>
			<string>{160, 264}</string>
			<key>spriteSourceSize</key>
			<string>{390, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1370, 0}, {160, 264}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Tumble_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{116, 51}, {204, 232}}</string>
			<key>spriteOffset</key>
			<string>{23, -17}</string>
			<key>spriteSize</key>
			<string>{204, 232}</string>
			<key>spriteSourceSize</key>
			<string>{390, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1434, 269}, {204, 232}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Tumble_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{122, 106}, {250, 178}}</string>
			<key>spriteOffset</key>
			<string>{52, -45}</string>
			<key>spriteSize</key>
			<string>{250, 178}</string>
			<key>spriteSourceSize</key>
			<string>{390, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 843}, {250, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Tumble_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{137, 86}, {214, 198}}</string>
			<key>spriteOffset</key>
			<string>{49, -35}</string>
			<key>spriteSize</key>
			<string>{214, 198}</string>
			<key>spriteSourceSize</key>
			<string>{390, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1234, 825}, {214, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Tumble_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{146, 40}, {152, 244}}</string>
			<key>spriteOffset</key>
			<string>{27, -12}</string>
			<key>spriteSize</key>
			<string>{152, 244}</string>
			<key>spriteSourceSize</key>
			<string>{390, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1380, 548}, {152, 244}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 11}, {199, 274}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{199, 274}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{182, 0}, {199, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 11}, {191, 274}}</string>
			<key>spriteOffset</key>
			<string>{-5, 2}</string>
			<key>spriteSize</key>
			<string>{191, 274}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{378, 279}, {191, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 11}, {203, 274}}</string>
			<key>spriteOffset</key>
			<string>{-11, 2}</string>
			<key>spriteSize</key>
			<string>{203, 274}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 568}, {203, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 11}, {179, 274}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{179, 274}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{574, 279}, {179, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 11}, {177, 274}}</string>
			<key>spriteOffset</key>
			<string>{3, 2}</string>
			<key>spriteSize</key>
			<string>{177, 274}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{580, 0}, {177, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 11}, {189, 274}}</string>
			<key>spriteOffset</key>
			<string>{-3, 2}</string>
			<key>spriteSize</key>
			<string>{189, 274}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{386, 0}, {189, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 11}, {197, 272}}</string>
			<key>spriteOffset</key>
			<string>{-7, 3}</string>
			<key>spriteSize</key>
			<string>{197, 272}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{758, 279}, {197, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 11}, {201, 274}}</string>
			<key>spriteOffset</key>
			<string>{-9, 2}</string>
			<key>spriteSize</key>
			<string>{201, 274}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{172, 285}, {201, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 11}, {191, 274}}</string>
			<key>spriteOffset</key>
			<string>{-5, 2}</string>
			<key>spriteSize</key>
			<string>{191, 274}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{208, 564}, {191, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 11}, {187, 274}}</string>
			<key>spriteOffset</key>
			<string>{4, 2}</string>
			<key>spriteSize</key>
			<string>{187, 274}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{404, 558}, {187, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Checkpoint_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {185, 90}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{185, 90}</string>
			<key>spriteSourceSize</key>
			<string>{185, 90}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 847}, {185, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_falling_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 8}, {167, 278}}</string>
			<key>spriteOffset</key>
			<string>{-4, 3}</string>
			<key>spriteSize</key>
			<string>{167, 278}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 285}, {167, 278}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_falling_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 5}, {177, 280}}</string>
			<key>spriteOffset</key>
			<string>{-6, 5}</string>
			<key>spriteSize</key>
			<string>{177, 280}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {177, 280}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_jumping_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 10}, {147, 274}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{147, 274}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{596, 558}, {147, 274}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>characterAnims.zwd</string>
		<key>premultipliedAlpha</key>
		<true/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-hd</string>
			<key>textureFileName</key>
			<string>-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>