<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Character_Hurting_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 7}, {76, 136}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{76, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{535, 0}, {76, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 6}, {72, 136}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{72, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 275}, {72, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 7}, {74, 136}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{74, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{542, 276}, {74, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 6}, {72, 136}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{72, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{462, 0}, {72, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 6}, {72, 136}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{72, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{565, 137}, {72, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 7}, {84, 136}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{84, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{480, 138}, {84, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 7}, {76, 136}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{76, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{639, 137}, {76, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 6}, {72, 136}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{72, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{612, 0}, {72, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 5}, {72, 138}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{72, 138}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{374, 279}, {72, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 6}, {80, 136}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{80, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 0}, {80, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Running_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {92, 136}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{92, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{447, 278}, {92, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Tumble_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{47, 10}, {81, 132}}</string>
			<key>spriteOffset</key>
			<string>{-10, -1}</string>
			<key>spriteSize</key>
			<string>{81, 132}</string>
			<key>spriteSourceSize</key>
			<string>{195, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{685, 0}, {81, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Tumble_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{58, 25}, {103, 116}}</string>
			<key>spriteOffset</key>
			<string>{12, -8}</string>
			<key>spriteSize</key>
			<string>{103, 116}</string>
			<key>spriteSourceSize</key>
			<string>{195, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{717, 134}, {103, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Tumble_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{61, 53}, {125, 90}}</string>
			<key>spriteOffset</key>
			<string>{26, -23}</string>
			<key>spriteSize</key>
			<string>{125, 90}</string>
			<key>spriteSourceSize</key>
			<string>{195, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 421}, {125, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Tumble_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 43}, {109, 100}}</string>
			<key>spriteOffset</key>
			<string>{25, -18}</string>
			<key>spriteSize</key>
			<string>{109, 100}</string>
			<key>spriteSourceSize</key>
			<string>{195, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 412}, {109, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Tumble_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{73, 20}, {77, 122}}</string>
			<key>spriteOffset</key>
			<string>{14, -6}</string>
			<key>spriteSize</key>
			<string>{77, 122}</string>
			<key>spriteSourceSize</key>
			<string>{195, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{690, 274}, {77, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 6}, {100, 136}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{100, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{91, 0}, {100, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {96, 136}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{96, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{189, 139}, {96, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {102, 136}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{102, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 284}, {102, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {90, 136}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{90, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{287, 139}, {90, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 6}, {88, 136}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{88, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{290, 0}, {88, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {94, 136}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{94, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{193, 0}, {94, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 5}, {98, 138}}</string>
			<key>spriteOffset</key>
			<string>{-4, 1}</string>
			<key>spriteSize</key>
			<string>{98, 138}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{379, 139}, {98, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {100, 138}}</string>
			<key>spriteOffset</key>
			<string>{-5, 1}</string>
			<key>spriteSize</key>
			<string>{100, 138}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{86, 142}, {100, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 5}, {96, 138}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{96, 138}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 282}, {96, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Character_Turbo_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 5}, {94, 138}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{94, 138}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{202, 279}, {94, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_falling_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 4}, {84, 138}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{84, 138}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 142}, {84, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_falling_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {88, 140}}</string>
			<key>spriteOffset</key>
			<string>{-3, 3}</string>
			<key>spriteSize</key>
			<string>{88, 140}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {88, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>character_jumping_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 5}, {74, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{74, 138}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{298, 279}, {74, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>characterAnims.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>s</string>
			<key>textureFileName</key>
			<string>s</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>s</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>