<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Level9_Frog_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{51, 41}</string>
			<key>spriteSourceSize</key>
			<string>{51, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{328, 335}, {51, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Frog_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {51, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{51, 43}</string>
			<key>spriteSourceSize</key>
			<string>{51, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{381, 335}, {51, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Frog_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 7}, {51, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{51, 35}</string>
			<key>spriteSourceSize</key>
			<string>{51, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{323, 222}, {51, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Frog_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {51, 31}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{51, 31}</string>
			<key>spriteSourceSize</key>
			<string>{51, 43}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{273, 332}, {51, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_PaperPlane.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {73, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{73, 37}</string>
			<key>spriteSourceSize</key>
			<string>{73, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 413}, {73, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Squirrel_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {71, 65}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{71, 65}</string>
			<key>spriteSourceSize</key>
			<string>{75, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{273, 264}, {71, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Squirrel_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {75, 65}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{75, 65}</string>
			<key>spriteSourceSize</key>
			<string>{75, 65}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 346}, {75, 65}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Squirrel_Nut.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {19, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{19, 25}</string>
			<key>spriteSourceSize</key>
			<string>{19, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 344}, {19, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeA_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 2}, {8, 17}}</string>
			<key>spriteOffset</key>
			<string>{23, 56}</string>
			<key>spriteSize</key>
			<string>{8, 17}</string>
			<key>spriteSourceSize</key>
			<string>{82, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{77, 405}, {8, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeA_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{52, 2}, {16, 29}}</string>
			<key>spriteOffset</key>
			<string>{19, 50}</string>
			<key>spriteSize</key>
			<string>{16, 29}</string>
			<key>spriteSourceSize</key>
			<string>{82, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{179, 372}, {16, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeA_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{54, 1}, {12, 57}}</string>
			<key>spriteOffset</key>
			<string>{19, 37}</string>
			<key>spriteSize</key>
			<string>{12, 57}</string>
			<key>spriteSourceSize</key>
			<string>{82, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{77, 346}, {12, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeA_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 1}, {40, 75}}</string>
			<key>spriteOffset</key>
			<string>{13, 28}</string>
			<key>spriteSize</key>
			<string>{40, 75}</string>
			<key>spriteSourceSize</key>
			<string>{82, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{385, 0}, {40, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeA_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 0}, {48, 103}}</string>
			<key>spriteOffset</key>
			<string>{9, 15}</string>
			<key>spriteSize</key>
			<string>{48, 103}</string>
			<key>spriteSourceSize</key>
			<string>{82, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{100, 268}, {48, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeB_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{57, 3}, {12, 27}}</string>
			<key>spriteOffset</key>
			<string>{22, 50}</string>
			<key>spriteSize</key>
			<string>{12, 27}</string>
			<key>spriteSourceSize</key>
			<string>{82, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{151, 344}, {12, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeB_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 2}, {30, 49}}</string>
			<key>spriteOffset</key>
			<string>{13, 40}</string>
			<key>spriteSize</key>
			<string>{30, 49}</string>
			<key>spriteSourceSize</key>
			<string>{82, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{386, 126}, {30, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeB_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 1}, {52, 73}}</string>
			<key>spriteOffset</key>
			<string>{1, 29}</string>
			<key>spriteSize</key>
			<string>{52, 73}</string>
			<key>spriteSourceSize</key>
			<string>{82, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{151, 268}, {52, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeB_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {64, 109}}</string>
			<key>spriteOffset</key>
			<string>{-5, 11}</string>
			<key>spriteSize</key>
			<string>{64, 109}</string>
			<key>spriteSourceSize</key>
			<string>{82, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{207, 264}, {64, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeB_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {74, 133}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{74, 133}</string>
			<key>spriteSourceSize</key>
			<string>{82, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {74, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeC_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 2}, {10, 17}}</string>
			<key>spriteOffset</key>
			<string>{24, 56}</string>
			<key>spriteSize</key>
			<string>{10, 17}</string>
			<key>spriteSourceSize</key>
			<string>{82, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 353}, {10, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeC_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{50, 2}, {28, 29}}</string>
			<key>spriteOffset</key>
			<string>{23, 50}</string>
			<key>spriteSize</key>
			<string>{28, 29}</string>
			<key>spriteSourceSize</key>
			<string>{82, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{386, 178}, {28, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeC_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{46, 2}, {34, 45}}</string>
			<key>spriteOffset</key>
			<string>{22, 42}</string>
			<key>spriteSize</key>
			<string>{34, 45}</string>
			<key>spriteSourceSize</key>
			<string>{82, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{385, 79}, {34, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeC_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 0}, {40, 71}}</string>
			<key>spriteOffset</key>
			<string>{20, 31}</string>
			<key>spriteSize</key>
			<string>{40, 71}</string>
			<key>spriteSourceSize</key>
			<string>{82, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{347, 261}, {40, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeC_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 0}, {60, 89}}</string>
			<key>spriteOffset</key>
			<string>{11, 22}</string>
			<key>spriteSize</key>
			<string>{60, 89}</string>
			<key>spriteSourceSize</key>
			<string>{82, 133}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{323, 130}, {60, 89}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Tree_TypeA_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 4}, {98, 128}}</string>
			<key>spriteOffset</key>
			<string>{8, -2}</string>
			<key>spriteSize</key>
			<string>{98, 128}</string>
			<key>spriteSourceSize</key>
			<string>{114, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 216}, {98, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Tree_TypeA_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 4}, {102, 128}}</string>
			<key>spriteOffset</key>
			<string>{6, -2}</string>
			<key>spriteSize</key>
			<string>{102, 128}</string>
			<key>spriteSourceSize</key>
			<string>{114, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{281, 0}, {102, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Tree_TypeA_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {114, 128}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{114, 128}</string>
			<key>spriteSourceSize</key>
			<string>{114, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{207, 134}, {114, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Tree_TypeB_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 1}, {96, 130}}</string>
			<key>spriteOffset</key>
			<string>{9, -0}</string>
			<key>spriteSize</key>
			<string>{96, 130}</string>
			<key>spriteSourceSize</key>
			<string>{114, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{183, 0}, {96, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Tree_TypeB_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 1}, {100, 130}}</string>
			<key>spriteOffset</key>
			<string>{6, -0}</string>
			<key>spriteSize</key>
			<string>{100, 130}</string>
			<key>spriteSourceSize</key>
			<string>{114, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{103, 134}, {100, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Tree_TypeB_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {104, 132}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{104, 132}</string>
			<key>spriteSourceSize</key>
			<string>{114, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{77, 0}, {104, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Umbrella.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {100, 77}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{100, 77}</string>
			<key>spriteSourceSize</key>
			<string>{102, 77}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 136}, {100, 77}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rain_BT_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{96, 133}, {85, 14}}</string>
			<key>spriteOffset</key>
			<string>{26, -65}</string>
			<key>spriteSize</key>
			<string>{85, 14}</string>
			<key>spriteSourceSize</key>
			<string>{225, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 390}, {85, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rain_BT_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{95, 133}, {85, 14}}</string>
			<key>spriteOffset</key>
			<string>{25, -65}</string>
			<key>spriteSize</key>
			<string>{85, 14}</string>
			<key>spriteSourceSize</key>
			<string>{225, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 374}, {85, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rain_BT_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{96, 133}, {85, 14}}</string>
			<key>spriteOffset</key>
			<string>{26, -65}</string>
			<key>spriteSize</key>
			<string>{85, 14}</string>
			<key>spriteSourceSize</key>
			<string>{225, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{197, 375}, {85, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rain_RP_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {2, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{2, 7}</string>
			<key>spriteSourceSize</key>
			<string>{14, 11}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 346}, {2, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rain_RP_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {8, 9}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{8, 9}</string>
			<key>spriteSourceSize</key>
			<string>{14, 11}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{386, 209}, {8, 9}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rain_RP_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {14, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{14, 7}</string>
			<key>spriteSourceSize</key>
			<string>{14, 11}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376, 222}, {14, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rain_RP_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {14, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{14, 7}</string>
			<key>spriteSourceSize</key>
			<string>{14, 11}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 344}, {14, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rain_RP_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {14, 7}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{14, 7}</string>
			<key>spriteSourceSize</key>
			<string>{14, 11}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{376, 230}, {14, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>rainyLevel</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>s</string>
			<key>textureFileName</key>
			<string>s</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>s</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>