<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Level9_Frog_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {101, 84}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{101, 84}</string>
			<key>spriteSourceSize</key>
			<string>{103, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{547, 528}, {101, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Frog_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {101, 84}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{101, 84}</string>
			<key>spriteSourceSize</key>
			<string>{103, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{547, 618}, {101, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Frog_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 14}, {101, 72}}</string>
			<key>spriteOffset</key>
			<string>{1, -7}</string>
			<key>spriteSize</key>
			<string>{101, 72}</string>
			<key>spriteSourceSize</key>
			<string>{103, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{733, 260}, {101, 72}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Frog_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 26}, {103, 60}}</string>
			<key>spriteOffset</key>
			<string>{0, -13}</string>
			<key>spriteSize</key>
			<string>{103, 60}</string>
			<key>spriteSourceSize</key>
			<string>{103, 86}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{733, 338}, {103, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeA_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{122, 4}, {15, 34}}</string>
			<key>spriteOffset</key>
			<string>{47, 112}</string>
			<key>spriteSize</key>
			<string>{15, 34}</string>
			<key>spriteSourceSize</key>
			<string>{165, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{806, 0}, {15, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeA_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{106, 3}, {29, 60}}</string>
			<key>spriteOffset</key>
			<string>{38, 100}</string>
			<key>spriteSize</key>
			<string>{29, 60}</string>
			<key>spriteSourceSize</key>
			<string>{165, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{771, 0}, {29, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeA_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{109, 2}, {25, 112}}</string>
			<key>spriteOffset</key>
			<string>{39, 75}</string>
			<key>spriteSize</key>
			<string>{25, 112}</string>
			<key>spriteSourceSize</key>
			<string>{165, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 693}, {25, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeA_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{68, 1}, {81, 152}}</string>
			<key>spriteOffset</key>
			<string>{26, 56}</string>
			<key>spriteSize</key>
			<string>{81, 152}</string>
			<key>spriteSourceSize</key>
			<string>{165, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{646, 260}, {81, 152}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeA_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{52, 0}, {97, 206}}</string>
			<key>spriteOffset</key>
			<string>{18, 30}</string>
			<key>spriteSize</key>
			<string>{97, 206}</string>
			<key>spriteSourceSize</key>
			<string>{165, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 536}, {97, 206}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeB_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{115, 6}, {23, 54}}</string>
			<key>spriteOffset</key>
			<string>{44, 100}</string>
			<key>spriteSize</key>
			<string>{23, 54}</string>
			<key>spriteSourceSize</key>
			<string>{165, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{303, 688}, {23, 54}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeB_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{79, 4}, {57, 98}}</string>
			<key>spriteOffset</key>
			<string>{25, 80}</string>
			<key>spriteSize</key>
			<string>{57, 98}</string>
			<key>spriteSourceSize</key>
			<string>{165, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{646, 418}, {57, 98}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeB_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 3}, {105, 146}}</string>
			<key>spriteOffset</key>
			<string>{2, 57}</string>
			<key>spriteSize</key>
			<string>{105, 146}</string>
			<key>spriteSourceSize</key>
			<string>{165, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{303, 536}, {105, 146}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeB_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {127, 216}}</string>
			<key>spriteOffset</key>
			<string>{-10, 23}</string>
			<key>spriteSize</key>
			<string>{127, 216}</string>
			<key>spriteSourceSize</key>
			<string>{165, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 528}, {127, 216}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeB_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {149, 266}}</string>
			<key>spriteOffset</key>
			<string>{-8, -0}</string>
			<key>spriteSize</key>
			<string>{149, 266}</string>
			<key>spriteSourceSize</key>
			<string>{165, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {149, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeC_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{120, 5}, {19, 32}}</string>
			<key>spriteOffset</key>
			<string>{47, 112}</string>
			<key>spriteSize</key>
			<string>{19, 32}</string>
			<key>spriteSourceSize</key>
			<string>{165, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 811}, {19, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeC_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{101, 4}, {57, 56}}</string>
			<key>spriteOffset</key>
			<string>{47, 101}</string>
			<key>spriteSize</key>
			<string>{57, 56}</string>
			<key>spriteSourceSize</key>
			<string>{165, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{771, 66}, {57, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeC_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{92, 4}, {71, 88}}</string>
			<key>spriteOffset</key>
			<string>{45, 85}</string>
			<key>spriteSize</key>
			<string>{71, 88}</string>
			<key>spriteSourceSize</key>
			<string>{165, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{332, 688}, {71, 88}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeC_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{84, 1}, {81, 142}}</string>
			<key>spriteOffset</key>
			<string>{42, 61}</string>
			<key>spriteSize</key>
			<string>{81, 142}</string>
			<key>spriteSourceSize</key>
			<string>{165, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{654, 522}, {81, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Thunder_TypeC_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 0}, {121, 178}}</string>
			<key>spriteOffset</key>
			<string>{22, 44}</string>
			<key>spriteSize</key>
			<string>{121, 178}</string>
			<key>spriteSourceSize</key>
			<string>{165, 266}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 693}, {121, 178}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Tree_TypeA_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 10}, {194, 254}}</string>
			<key>spriteOffset</key>
			<string>{16, -5}</string>
			<key>spriteSize</key>
			<string>{194, 254}</string>
			<key>spriteSourceSize</key>
			<string>{228, 264}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 433}, {194, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Tree_TypeA_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 10}, {202, 254}}</string>
			<key>spriteOffset</key>
			<string>{13, -5}</string>
			<key>spriteSize</key>
			<string>{202, 254}</string>
			<key>spriteSourceSize</key>
			<string>{228, 264}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{563, 0}, {202, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Tree_TypeA_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 10}, {226, 254}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{226, 254}</string>
			<key>spriteSourceSize</key>
			<string>{228, 264}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{414, 268}, {226, 254}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Tree_TypeB_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{38, 1}, {190, 262}}</string>
			<key>spriteOffset</key>
			<string>{19, -0}</string>
			<key>spriteSize</key>
			<string>{190, 262}</string>
			<key>spriteSourceSize</key>
			<string>{228, 264}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{367, 0}, {190, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Tree_TypeB_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 1}, {202, 262}}</string>
			<key>spriteOffset</key>
			<string>{12, -0}</string>
			<key>spriteSize</key>
			<string>{202, 262}</string>
			<key>spriteSourceSize</key>
			<string>{228, 264}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{206, 268}, {202, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Tree_TypeB_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 1}, {206, 262}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{206, 262}</string>
			<key>spriteSourceSize</key>
			<string>{228, 264}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{155, 0}, {206, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level9_Umbrella.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {200, 155}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{200, 155}</string>
			<key>spriteSourceSize</key>
			<string>{204, 155}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 272}, {200, 155}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rain_BT_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{193, 267}, {168, 26}}</string>
			<key>spriteOffset</key>
			<string>{52, -130}</string>
			<key>spriteSize</key>
			<string>{168, 26}</string>
			<key>spriteSourceSize</key>
			<string>{450, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 748}, {168, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rain_BT_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{192, 267}, {168, 26}}</string>
			<key>spriteOffset</key>
			<string>{51, -130}</string>
			<key>spriteSize</key>
			<string>{168, 26}</string>
			<key>spriteSourceSize</key>
			<string>{450, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 780}, {168, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rain_BT_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{194, 267}, {166, 26}}</string>
			<key>spriteOffset</key>
			<string>{52, -130}</string>
			<key>spriteSize</key>
			<string>{166, 26}</string>
			<key>spriteSourceSize</key>
			<string>{450, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{409, 750}, {166, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rain_RP_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 1}, {3, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, 5}</string>
			<key>spriteSize</key>
			<string>{3, 11}</string>
			<key>spriteSourceSize</key>
			<string>{29, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{191, 693}, {3, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rain_RP_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 6}, {15, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{15, 15}</string>
			<key>spriteSourceSize</key>
			<string>{29, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{827, 0}, {15, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rain_RP_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 11}, {27, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{27, 11}</string>
			<key>spriteSourceSize</key>
			<string>{29, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 712}, {27, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rain_RP_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 10}, {27, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{27, 13}</string>
			<key>spriteSourceSize</key>
			<string>{29, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 693}, {27, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rain_RP_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 12}, {27, 11}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{27, 11}</string>
			<key>spriteSourceSize</key>
			<string>{29, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{158, 729}, {27, 11}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>rainyLevel</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-hd</string>
			<key>textureFileName</key>
			<string>-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>