<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runningAnim</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>looping</key>
		<string>true</string>
		<key>group</key>
		<string>Player</string>
		<key>spritesheetPlist</key>
		<string>character_running</string>
		<key>sequencePrefix</key>
		<string>Character_Running_</string>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9,10</string>
		<key>delay</key>
		<real>0.075</real>
	</dict>
	<key>wooAnim</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>false</string>
		<key>looping</key>
		<string>false</string>
		<key>group</key>
		<string>Player</string>
		<key>spritesheetPlist</key>
		<string>character_woo</string>
		<key>sequencePrefix</key>
		<string>Character_Woo_</string>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9,10</string>
		<key>delay</key>
		<real>0.075</real>
	</dict>
	<key>jumpingAnim</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>looping</key>
		<string>false</string>
		<key>group</key>
		<string>Player</string>
		<key>spritesheetPlist</key>
		<string>character_jumping</string>
		<key>sequencePrefix</key>
		<string>character_jumping_</string>
		<key>animationFrames</key>
		<string>1</string>
		<key>delay</key>
		<string>0.1</string>
	</dict>
	<key>dodgingAnim</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>looping</key>
		<string>true</string>
		<key>group</key>
		<string>Player</string>
		<key>spritesheetPlist</key>
		<string>character_dodging</string>
		<key>sequencePrefix</key>
		<string>dodge_</string>
		<key>animationFrames</key>
		<string>2,3,4,5,2,3,4,5,2,3,4,5</string>
		<key>delay</key>
		<string>0.17</string>
	</dict>
	<key>fallingAnim</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>looping</key>
		<string>false</string>
		<key>group</key>
		<string>Player</string>
		<key>spritesheetPlist</key>
		<string>character_falling</string>
		<key>sequencePrefix</key>
		<string>character_falling_</string>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<string>0.075</string>
	</dict>
	<key>turboAnim</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>looping</key>
		<string>true</string>
		<key>group</key>
		<string>Player</string>
		<key>spritesheetPlist</key>
		<string>character_turbo</string>
		<key>sequencePrefix</key>
		<string>Character_Turbo_</string>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9,10</string>
		<key>delay</key>
		<string>0.075</string>
	</dict>
	<key>trippedAnim</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>looping</key>
		<string>false</string>
		<key>group</key>
		<string>Player</string>
		<key>spritesheetPlist</key>
		<string>character_tripped</string>
		<key>sequencePrefix</key>
		<string>Character_Tumble_</string>
		<key>animationFrames</key>
		<string>1,2,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,4,5</string>
		<key>delay</key>
		<string>0.075</string>
	</dict>
	<key>hurtAnim</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>false</string>
		<key>looping</key>
		<string>false</string>
		<key>group</key>
		<string>Player</string>
		<key>spritesheetPlist</key>
		<string>character_hurt</string>
		<key>sequencePrefix</key>
		<string>Character_Hurting_</string>
		<key>animationFrames</key>
		<string>1,1,1</string>
		<key>delay</key>
		<string>0.075</string>
	</dict>
	<key>largeTimer</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>false</string>
		<key>looping</key>
		<string>true</string>
		<key>group</key>
		<string>Timer</string>
		<key>spritesheetPlist</key>
		<string>TrackTimer</string>
		<key>sequencePrefix</key>
		<string>Large_</string>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9,10,11</string>
		<key>delay</key>
		<string>0.075</string>
	</dict>
	<key>smallTimer</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>false</string>
		<key>looping</key>
		<string>true</string>
		<key>group</key>
		<string>Timer</string>
		<key>spritesheetPlist</key>
		<string>TrackTimer</string>
		<key>sequencePrefix</key>
		<string>Small_</string>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9,10</string>
		<key>delay</key>
		<string>0.075</string>
	</dict>
	<key>henKicked</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>false</string>
		<key>looping</key>
		<string>true</string>
		<key>group</key>
		<string>Obstacles</string>
		<key>spritesheetPlist</key>
		<string>hen_kicked</string>
		<key>sequencePrefix</key>
		<string>hen_kicked_</string>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<string>0.04</string>
	</dict>
	<key>henIdle</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>false</string>
		<key>looping</key>
		<string>true</string>
		<key>group</key>
		<string>Obstacles</string>
		<key>spritesheetPlist</key>
		<string>hen_idle</string>
		<key>sequencePrefix</key>
		<string>hen_idle_</string>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<string>0.04</string>
	</dict>
	<key>kickingAnim</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>false</string>
		<key>looping</key>
		<string>false</string>
		<key>group</key>
		<string>Player</string>
		<key>spritesheetPlist</key>
		<string>character_kicking</string>
		<key>sequencePrefix</key>
		<string>character_kicking_</string>
		<key>animationFrames</key>
		<string>1,2,3,3</string>
		<key>delay</key>
		<string>0.1</string>
	</dict>
	<key>cowIdle</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>looping</key>
		<string>true</string>
		<key>group</key>
		<string>Obstacle</string>
		<key>spritesheetPlist</key>
		<string>cow_idle</string>
		<key>sequencePrefix</key>
		<string>cow_idle_</string>
		<key>animationFrames</key>
		<string>1,1,2,1,2</string>
		<key>delay</key>
		<string>0.15</string>
	</dict>
	<key>cowDied</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>looping</key>
		<string>false</string>
		<key>group</key>
		<string>Obstacle</string>
		<key>spritesheetPlist</key>
		<string>cow_died</string>
		<key>sequencePrefix</key>
		<string>cow_died_</string>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>delay</key>
		<string>0.075</string>
	</dict>
	<key>discoDancersAnim</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>looping</key>
		<string>true</string>
		<key>group</key>
		<string>Background</string>
		<key>spritesheetPlist</key>
		<string>disco_dancers_bkg</string>
		<key>sequencePrefix</key>
		<string>Disco_DancingAnimation_Key0</string>
		<key>animationFrames</key>
		<string>1,1,2,2,3,3,2,2</string>
		<key>delay</key>
		<string>0.075</string>
	</dict>
	<key>tvAnimationAnim</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>looping</key>
		<string>true</string>
		<key>group</key>
		<string>Background</string>
		<key>spritesheetPlist</key>
		<string>tvAnimation</string>
		<key>sequencePrefix</key>
		<string>tv_</string>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9,10</string>
		<key>delay</key>
		<string>0.075</string>
	</dict>
</dict>
</plist>
