<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>runningAnim</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>looping</key>
		<string>true</string>
		<key>group</key>
		<string>Player</string>
		<key>spritesheetPlist</key>
		<string>character_running</string>
		<key>sequencePrefix</key>
		<string>Character_Running_</string>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9,10</string>
		<key>delay</key>
		<real>0.075</real>
	</dict>
	<key>jumpingAnim</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>looping</key>
		<string>false</string>
		<key>group</key>
		<string>Player</string>
		<key>spritesheetPlist</key>
		<string>character_jumping</string>
		<key>sequencePrefix</key>
		<string>Character_Jumping_</string>
		<key>animationFrames</key>
		<string>1,1,1,2,3,3,3,3</string>
		<key>delay</key>
		<string>0.1</string>
	</dict>
	<key>turboAnim</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>looping</key>
		<string>true</string>
		<key>group</key>
		<string>Player</string>
		<key>spritesheetPlist</key>
		<string>character_turbo</string>
		<key>sequencePrefix</key>
		<string>Character_Running_</string>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9,10</string>
		<key>delay</key>
		<string>0.075</string>
	</dict>
	<key>trippedAnim</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>looping</key>
		<string>false</string>
		<key>group</key>
		<string>Player</string>
		<key>spritesheetPlist</key>
		<string>character_tripped</string>
		<key>sequencePrefix</key>
		<string>Character_Tumble_</string>
		<key>animationFrames</key>
		<string>1,2,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,4,5</string>
		<key>delay</key>
		<string>0.075</string>
	</dict>
	<key>hurtAnim</key>
	<dict>
		<key>clearPreviousAnims</key>
		<string>false</string>
		<key>looping</key>
		<string>false</string>
		<key>group</key>
		<string>Player</string>
		<key>spritesheetPlist</key>
		<string>character_hurt</string>
		<key>sequencePrefix</key>
		<string>Character_Hurting_</string>
		<key>animationFrames</key>
		<string>1,1,1</string>
		<key>delay</key>
		<string>0.075</string>
	</dict>
</dict>
</plist>
