<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>trackToFarm</key>
	<string>test_big.mp4</string>
	<key>farmToCornfields</key>
	<string>test_big.mp4</string>
	<key>endGame</key>
	<string>endGame</string>
	<key>intro</key>
	<string>Comic_Part01.mp4</string>
</dict>
</plist>
