<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level1</key>
	<dict>
		<key>music</key>
		<string>track</string>
		<key>postLevelComic</key>
		<string>trackToFarm</string>
		<key>worldType</key>
		<string>realWorld</string>
		<key>playerOffsetY</key>
		<integer>-9</integer>
		<key>fileName</key>
		<string>clayl1.5.tmx</string>
		<key>obstacleLayer</key>
		<string>front3</string>
		<key>nextLevelName</key>
		<string>level2</string>
		<key>layerList</key>
		<string>background-99,back-5,back-4,back-3,back-2,back-1,main0,front1,front2,front3,meta</string>
	</dict>
	<key>platformTest</key>
	<dict>
		<key>music</key>
		<string>track</string>
		<key>worldType</key>
		<string>testWorld</string>
		<key>playerOffsetY</key>
		<integer>-9</integer>
		<key>fileName</key>
		<string>platformtest-2.tmx</string>
		<key>obstacleLayer</key>
		<string>obstacles</string>
		<key>nextLevelName</key>
		<string>level1</string>
		<key>layerList</key>
		<string>main0,meta,obstacles</string>
	</dict>
	<key>level2</key>
	<dict>
		<key>music</key>
		<string>barn</string>
		<key>postLevelComic</key>
		<string>farmToCornfields</string>
		<key>worldType</key>
		<string>dreamWorld</string>
		<key>playerOffsetY</key>
		<integer>-9</integer>
		<key>fileName</key>
		<string>clayl2.1.4.tmx</string>
		<key>obstacleLayer</key>
		<string>front3</string>
		<key>nextLevelName</key>
		<string>level3</string>
		<key>layerList</key>
		<string>back-2,back-1,main0,front2,front3,meta</string>
	</dict>
	<key>level3</key>
	<dict>
		<key>music</key>
		<string>cornfields</string>
		<key>postLevelComic</key>
		<string>farmToCornfields</string>
		<key>worldType</key>
		<string>realWorld</string>
		<key>playerOffsetY</key>
		<integer>-9</integer>
		<key>fileName</key>
		<string>clayl3.0.1.4.tmx</string>
		<key>obstacleLayer</key>
		<string>front2</string>
		<key>nextLevelName</key>
		<string>level1</string>
		<key>layerList</key>
		<string>back-4,back-1,back-3,back-2,main,front1,front2,meta</string>
	</dict>
	<key>startingLevel</key>
	<string>level2</string>
</dict>
</plist>
