<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>timed</key>
	<dict>
		<key>level1</key>
		<dict>
			<key>normal</key>
			<dict>
				<key>bronze</key>
				<string>225</string>
				<key>silver</key>
				<string>200</string>
				<key>gold</key>
				<string>175</string>
			</dict>
			<key>hard</key>
			<dict>
				<key>bronze</key>
				<string>275</string>
				<key>silver</key>
				<string>240</string>
				<key>gold</key>
				<string>200</string>
			</dict>
		</dict>
		<key>level2</key>
		<dict>
			<key>normal</key>
			<dict>
				<key>bronze</key>
				<string>225</string>
				<key>silver</key>
				<string>200</string>
				<key>gold</key>
				<string>175</string>
			</dict>
			<key>hard</key>
			<dict>
				<key>bronze</key>
				<string>275</string>
				<key>silver</key>
				<string>240</string>
				<key>gold</key>
				<string>200</string>
			</dict>
		</dict>
		<key>level3</key>
		<dict>
			<key>normal</key>
			<dict>
				<key>bronze</key>
				<string>225</string>
				<key>silver</key>
				<string>200</string>
				<key>gold</key>
				<string>175</string>
			</dict>
			<key>hard</key>
			<dict>
				<key>bronze</key>
				<string>275</string>
				<key>silver</key>
				<string>240</string>
				<key>gold</key>
				<string>200</string>
			</dict>
		</dict>
		<key>level4</key>
		<dict>
			<key>normal</key>
			<dict>
				<key>bronze</key>
				<string>225</string>
				<key>silver</key>
				<string>200</string>
				<key>gold</key>
				<string>175</string>
			</dict>
			<key>hard</key>
			<dict>
				<key>bronze</key>
				<string>275</string>
				<key>silver</key>
				<string>240</string>
				<key>gold</key>
				<string>200</string>
			</dict>
		</dict>
		<key>level5</key>
		<dict>
			<key>normal</key>
			<dict>
				<key>bronze</key>
				<string>225</string>
				<key>silver</key>
				<string>200</string>
				<key>gold</key>
				<string>175</string>
			</dict>
			<key>hard</key>
			<dict>
				<key>bronze</key>
				<string>275</string>
				<key>silver</key>
				<string>240</string>
				<key>gold</key>
				<string>200</string>
			</dict>
		</dict>
		<key>level6</key>
		<dict>
			<key>normal</key>
			<dict>
				<key>bronze</key>
				<string>225</string>
				<key>silver</key>
				<string>200</string>
				<key>gold</key>
				<string>175</string>
			</dict>
			<key>hard</key>
			<dict>
				<key>bronze</key>
				<string>275</string>
				<key>silver</key>
				<string>240</string>
				<key>gold</key>
				<string>200</string>
			</dict>
		</dict>
		<key>level7</key>
		<dict>
			<key>normal</key>
			<dict>
				<key>bronze</key>
				<string>225</string>
				<key>silver</key>
				<string>200</string>
				<key>gold</key>
				<string>175</string>
			</dict>
			<key>hard</key>
			<dict>
				<key>bronze</key>
				<string>275</string>
				<key>silver</key>
				<string>240</string>
				<key>gold</key>
				<string>200</string>
			</dict>
		</dict>
		<key>level8</key>
		<dict>
			<key>normal</key>
			<dict>
				<key>bronze</key>
				<string>225</string>
				<key>silver</key>
				<string>200</string>
				<key>gold</key>
				<string>175</string>
			</dict>
			<key>hard</key>
			<dict>
				<key>bronze</key>
				<string>275</string>
				<key>silver</key>
				<string>240</string>
				<key>gold</key>
				<string>200</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
