<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gameScene</key>
	<dict>
		<key>animations</key>
		<string>hud</string>
		<key>sounds</key>
		<string>jumpLand,turboStart,dead,collision,jumpStart,pause,lowBattery,batteryFullCharge,timCollision,timHurt,steppedInSand,doubleJump,checkpoint</string>
		<key>textures</key>
		<string>hudGraphics2</string>
	</dict>
	<key>launch</key>
	<dict>
		<key>removeTextures</key>
		<string>none</string>
		<key>animations</key>
		<string>hud,player</string>
		<key>sounds</key>
		<string>none</string>
		<key>textures</key>
		<string>hudGraphics2,characterAnims</string>
	</dict>
	<key>level1</key>
	<dict>
		<key>removeTextures</key>
		<string>tileset_level_1</string>
		<key>animations</key>
		<string>level1,woo</string>
		<key>sounds</key>
		<string>wooAction</string>
		<key>textures</key>
		<string>trackLevel,characterWoo</string>
	</dict>
	<key>level2</key>
	<dict>
		<key>removeTextures</key>
		<string>tileset_level2</string>
		<key>animations</key>
		<string>level2,kick</string>
		<key>sounds</key>
		<string>henKicked,cowDied,pigAppears</string>
		<key>textures</key>
		<string>barnLevel,characterKicking</string>
	</dict>
	<key>level3</key>
	<dict>
		<key>removeTextures</key>
		<string>tileset_level_3</string>
		<key>animations</key>
		<string>level3,woo</string>
		<key>sounds</key>
		<string>wooAction,crowAppears</string>
		<key>textures</key>
		<string>townLevel,characterWoo</string>
	</dict>
	<key>level4</key>
	<dict>
		<key>removeTextures</key>
		<string>tileset_level_4</string>
		<key>animations</key>
		<string>level4,dodge</string>
		<key>sounds</key>
		<string>shuffling</string>
		<key>textures</key>
		<string>discoLevel,characterDodging</string>
	</dict>
	<key>level5</key>
	<dict>
		<key>removeTextures</key>
		<string>tileset_level_5</string>
		<key>animations</key>
		<string>level5,woo</string>
		<key>sounds</key>
		<string>wooAction,maddogBark</string>
		<key>textures</key>
		<string>cityLevel,characterWoo</string>
	</dict>
	<key>level6</key>
	<dict>
		<key>removeTextures</key>
		<string>tileset_level_6</string>
		<key>animations</key>
		<string>level6,shoot</string>
		<key>sounds</key>
		<string>zombieMoan,shootActionReload,shootAction</string>
		<key>textures</key>
		<string>zombieLevel,characterShooting</string>
	</dict>
	<key>level7</key>
	<dict>
		<key>removeTextures</key>
		<string>tileset_level_7</string>
		<key>animations</key>
		<string>player8,level7</string>
		<key>sounds</key>
		<string>shield,jimShipShoot,jimShipCharge,deflected</string>
		<key>textures</key>
		<string>eightBitTim,computerLevel</string>
	</dict>
	<key>level8</key>
	<dict>
		<key>removeTextures</key>
		<string>tileset_level_8</string>
		<key>animations</key>
		<string>level8,blow</string>
		<key>sounds</key>
		<string>blowAction,fireballLand</string>
		<key>textures</key>
		<string>fireLevel,characterBlowing</string>
	</dict>
	<key>level9</key>
	<dict>
		<key>removeTextures</key>
		<string>tileset_level_9</string>
		<key>animations</key>
		<string>level9,woo</string>
		<key>sounds</key>
		<string>wooAction,frogSquish,lightning,windShort,windMedium,windLong</string>
		<key>textures</key>
		<string>rainyLevel,characterWoo</string>
	</dict>
	<key>level10</key>
	<dict>
		<key>removeTextures</key>
		<string>tileset_level_9</string>
		<key>animations</key>
		<string>level9,spin</string>
		<key>sounds</key>
		<string>none</string>
		<key>textures</key>
		<string>rainyLevel</string>
	</dict>
	<key>level11</key>
	<dict>
		<key>removeTextures</key>
		<string>tileset_level_9</string>
		<key>animations</key>
		<string>level9,slowtime</string>
		<key>sounds</key>
		<string>none</string>
		<key>textures</key>
		<string>rainyLevel</string>
	</dict>
	<key>mainMenu</key>
	<dict>
		<key>removeTextures</key>
		<string>none</string>
		<key>animations</key>
		<string>none</string>
		<key>sounds</key>
		<string>menuPlayButton</string>
		<key>textures</key>
		<string>menuTextures</string>
	</dict>
	<key>chooseLevel</key>
	<dict>
		<key>removeTextures</key>
		<string>none</string>
		<key>animations</key>
		<string>none</string>
		<key>sounds</key>
		<string>buttonPressed,chooseSelection</string>
		<key>textures</key>
		<string>chooseLevel</string>
	</dict>
	<key>endGame</key>
	<dict>
		<key>removeTextures</key>
		<string>none</string>
		<key>animations</key>
		<string>none</string>
		<key>sounds</key>
		<string>none</string>
		<key>textures</key>
		<string>endGameTextures</string>
	</dict>
</dict>
</plist>
