<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dummyLevel</key>
	<dict>
		<key>animations</key>
		<string>none</string>
		<key>sounds</key>
		<string>none</string>
		<key>textures</key>
		<string>none</string>
	</dict>
	<key>gameScene</key>
	<dict>
		<key>animations</key>
		<string>hud</string>
		<key>sounds</key>
		<string>jumpLand,turboStart,dead,collision,jumpStart,pause,lowBattery,batteryFullCharge,timCollision,timHurt,steppedInSand,doubleJump,checkpoint</string>
		<key>textures</key>
		<string>hudGraphics2</string>
	</dict>
	<key>launch</key>
	<dict>
		<key>animations</key>
		<string>hud,player</string>
		<key>sounds</key>
		<string>none</string>
		<key>textures</key>
		<string>hudGraphics2,characterAnims</string>
	</dict>
	<key>level1</key>
	<dict>
		<key>animations</key>
		<string>level1</string>
		<key>sounds</key>
		<string>wooAction</string>
		<key>textures</key>
		<string>trackLevel</string>
	</dict>
	<key>level2</key>
	<dict>
		<key>animations</key>
		<string>level2</string>
		<key>sounds</key>
		<string>henKicked,cowDied</string>
		<key>textures</key>
		<string>barnLevel</string>
	</dict>
	<key>level3</key>
	<dict>
		<key>animations</key>
		<string>level3</string>
		<key>sounds</key>
		<string>wooAction</string>
		<key>textures</key>
		<string>townLevel</string>
	</dict>
	<key>level4</key>
	<dict>
		<key>animations</key>
		<string>level4</string>
		<key>sounds</key>
		<string>shuffling</string>
		<key>textures</key>
		<string>discoLevel</string>
	</dict>
	<key>level5</key>
	<dict>
		<key>animations</key>
		<string>level5</string>
		<key>sounds</key>
		<string>wooAction</string>
		<key>textures</key>
		<string>cityLevel</string>
	</dict>
	<key>level6</key>
	<dict>
		<key>animations</key>
		<string>level6</string>
		<key>sounds</key>
		<string>zombieMoan,shootActionReload,shootAction</string>
		<key>textures</key>
		<string>zombieLevel</string>
	</dict>
	<key>level7</key>
	<dict>
		<key>animations</key>
		<string>player8,level7</string>
		<key>sounds</key>
		<string>shield,jimShipShoot,deflected</string>
		<key>textures</key>
		<string>eightBitTim,computerLevel</string>
	</dict>
	<key>mainMenu</key>
	<dict>
		<key>animations</key>
		<string>none</string>
		<key>sounds</key>
		<string>menuPlayButton</string>
		<key>textures</key>
		<string>menuTextures</string>
	</dict>
	<key>chooseLevel</key>
	<dict>
		<key>animations</key>
		<string>none</string>
		<key>sounds</key>
		<string>buttonPressed,chooseSelection</string>
		<key>textures</key>
		<string>chooseLevel</string>
	</dict>
	<key>endGame</key>
	<dict>
		<key>animations</key>
		<string>none</string>
		<key>sounds</key>
		<string>none</string>
		<key>textures</key>
		<string>endGameTextures</string>
	</dict>
</dict>
</plist>
