<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>hurdle</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>playerEffect</key>
		<string>collide</string>
		<key>collideBehavior</key>
		<string>falls</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-45</integer>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>x</key>
			<integer>20</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>14</integer>
			<key>height</key>
			<integer>30</integer>
		</dict>
		<key>imageName</key>
		<string>hurdle.png</string>
	</dict>
	<key>haybale</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>playerEffect</key>
		<string>collide</string>
		<key>collideBehavior</key>
		<string>falls</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-45</integer>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>x</key>
			<integer>50</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>35</integer>
			<key>height</key>
			<integer>40</integer>
		</dict>
		<key>imageName</key>
		<string>haybale.png</string>
	</dict>
	<key>bighurdle</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>playerEffect</key>
		<string>collide</string>
		<key>collideBehavior</key>
		<string>falls</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-45</integer>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>x</key>
			<integer>20</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>14</integer>
			<key>height</key>
			<integer>40</integer>
		</dict>
		<key>imageName</key>
		<string>bighurdle.png</string>
	</dict>
	<key>sandpit</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>playerEffect</key>
		<string>slow</string>
		<key>collideBehavior</key>
		<string>static</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-45</integer>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>x</key>
			<integer>-12</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>87</integer>
			<key>height</key>
			<integer>15</integer>
		</dict>
		<key>imageName</key>
		<string>sandpit.png</string>
	</dict>
	<key>player</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>0</integer>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>runningAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>x</key>
			<integer>20</integer>
			<key>y</key>
			<integer>10</integer>
			<key>width</key>
			<integer>40</integer>
			<key>height</key>
			<integer>120</integer>
		</dict>
		<key>imageName</key>
		<string>character_idle.png</string>
	</dict>
	<key>hen</key>
	<dict>
		<key>aggressive</key>
		<string>true</string>
		<key>playerEffect</key>
		<string>actionOrCollide</string>
		<key>collideBehavior</key>
		<string>kicked</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-35</integer>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>henIdle</string>
		<key>boundingBox</key>
		<dict>
			<key>x</key>
			<integer>52</integer>
			<key>y</key>
			<integer>-10</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>45</integer>
		</dict>
		<key>imageName</key>
		<string>hen_idle_1.png</string>
	</dict>
	<key>cow</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>playerEffect</key>
		<string>collide</string>
		<key>collideBehavior</key>
		<string>cowCollapse</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-45</integer>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>cowIdle</string>
		<key>boundingBox</key>
		<dict>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>57</integer>
		</dict>
		<key>imageName</key>
		<string>cow.png</string>
	</dict>
	<key>manure</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>playerEffect</key>
		<string>slow</string>
		<key>collideBehavior</key>
		<string>static</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-45</integer>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>x</key>
			<integer>-12</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>87</integer>
			<key>height</key>
			<integer>15</integer>
		</dict>
		<key>imageName</key>
		<string>manure.png</string>
	</dict>
	<key>leafpile</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>playerEffect</key>
		<string>slow</string>
		<key>collideBehavior</key>
		<string>static</string>
		<key>offsetx</key>
		<integer>-64</integer>
		<key>offsety</key>
		<integer>-45</integer>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>x</key>
			<integer>-12</integer>
			<key>y</key>
			<integer>2</integer>
			<key>width</key>
			<integer>87</integer>
			<key>height</key>
			<integer>15</integer>
		</dict>
		<key>imageName</key>
		<string>leafpile.png</string>
	</dict>
</dict>
</plist>
