<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cameraTracking</key>
	<dict>
		<key>x</key>
		<integer>35</integer>
		<key>y</key>
		<integer>100</integer>
	</dict>
	<key>turboBehavior</key>
	<dict>
		<key>accelerationMax</key>
		<string>2</string>
		<key>acceleration</key>
		<integer>2</integer>
		<key>duration</key>
		<integer>5</integer>
		<key>velocityMax</key>
		<integer>128</integer>
	</dict>
	<key>normalBehavior</key>
	<dict>
		<key>accelerationMax</key>
		<string>1</string>
		<key>acceleration</key>
		<integer>1</integer>
		<key>velocityMax</key>
		<integer>64</integer>
	</dict>
	<key>worlds</key>
	<dict>
		<key>testWorld</key>
		<dict>
			<key>hitPoints</key>
			<string>1</string>
			<key>gravity</key>
			<string>2.0</string>
		</dict>
		<key>dreamWorld</key>
		<dict>
			<key>hitPoints</key>
			<string>5</string>
			<key>gravity</key>
			<string>0.75</string>
		</dict>
		<key>realWorld</key>
		<dict>
			<key>hitPoints</key>
			<string>3</string>
			<key>gravity</key>
			<string>1.0</string>
		</dict>
	</dict>
	<key>terminalVelocity</key>
	<integer>50</integer>
</dict>
</plist>
