<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Retro_Hurting_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 6}, {78, 138}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{78, 138}</string>
			<key>spriteSourceSize</key>
			<string>{114, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 140}, {78, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Jumping_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 3}, {78, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, 3}</string>
			<key>spriteSize</key>
			<string>{78, 138}</string>
			<key>spriteSourceSize</key>
			<string>{114, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 281}, {78, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Running_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 6}, {76, 138}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{76, 138}</string>
			<key>spriteSourceSize</key>
			<string>{114, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{161, 281}, {76, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Running_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {84, 136}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{84, 136}</string>
			<key>spriteSourceSize</key>
			<string>{114, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{179, 140}, {84, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Running_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 6}, {76, 138}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{76, 138}</string>
			<key>spriteSourceSize</key>
			<string>{114, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{179, 0}, {76, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Running_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {96, 138}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 138}</string>
			<key>spriteSourceSize</key>
			<string>{114, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 140}, {96, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Tumble_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{44, 9}, {87, 136}}</string>
			<key>spriteOffset</key>
			<string>{-10, -2}</string>
			<key>spriteSize</key>
			<string>{87, 136}</string>
			<key>spriteSourceSize</key>
			<string>{195, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{343, 0}, {87, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Tumble_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{59, 53}, {127, 92}}</string>
			<key>spriteOffset</key>
			<string>{25, -24}</string>
			<key>spriteSize</key>
			<string>{127, 92}</string>
			<key>spriteSourceSize</key>
			<string>{195, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 421}, {127, 92}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Tumble_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{71, 18}, {81, 126}}</string>
			<key>spriteOffset</key>
			<string>{14, -6}</string>
			<key>spriteSize</key>
			<string>{81, 126}</string>
			<key>spriteSourceSize</key>
			<string>{195, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{429, 0}, {81, 126}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Turbo_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 6}, {78, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 138}</string>
			<key>spriteSourceSize</key>
			<string>{114, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{80, 281}, {78, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Turbo_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {84, 136}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{84, 136}</string>
			<key>spriteSourceSize</key>
			<string>{114, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{256, 0}, {84, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Turbo_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 6}, {78, 138}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 138}</string>
			<key>spriteSourceSize</key>
			<string>{114, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 0}, {78, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Retro_Turbo_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {96, 138}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 138}</string>
			<key>spriteSourceSize</key>
			<string>{114, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {96, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>eightBitTim.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>s</string>
			<key>textureFileName</key>
			<string>s</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>s</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>