<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>BlowFish_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 30}, {94, 90}}</string>
			<key>spriteOffset</key>
			<string>{-10, -7}</string>
			<key>spriteSize</key>
			<string>{94, 90}</string>
			<key>spriteSourceSize</key>
			<string>{132, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{845, 0}, {94, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlowFish_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 29}, {94, 90}}</string>
			<key>spriteOffset</key>
			<string>{-9, -6}</string>
			<key>spriteSize</key>
			<string>{94, 90}</string>
			<key>spriteSourceSize</key>
			<string>{132, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{716, 391}, {94, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlowFish_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 18}, {108, 104}}</string>
			<key>spriteOffset</key>
			<string>{-6, -2}</string>
			<key>spriteSize</key>
			<string>{108, 104}</string>
			<key>spriteSourceSize</key>
			<string>{132, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{335, 407}, {108, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlowFish_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {124, 130}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{124, 130}</string>
			<key>spriteSourceSize</key>
			<string>{132, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{666, 139}, {124, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BlowFish_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {128, 124}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{128, 124}</string>
			<key>spriteSourceSize</key>
			<string>{132, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{711, 0}, {128, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>HealthBubble_Double_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {133, 133}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{133, 133}</string>
			<key>spriteSourceSize</key>
			<string>{147, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{577, 343}, {133, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>HealthBubble_Double_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {147, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{147, 147}</string>
			<key>spriteSourceSize</key>
			<string>{147, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{291, 204}, {147, 147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>HealthBubble_Double_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{33, 35}, {83, 85}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{83, 85}</string>
			<key>spriteSourceSize</key>
			<string>{147, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{816, 391}, {83, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>HealthBubble_Single_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 8}, {133, 133}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{133, 133}</string>
			<key>spriteSourceSize</key>
			<string>{147, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{572, 0}, {133, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>HealthBubble_Single_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {147, 147}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{147, 147}</string>
			<key>spriteSourceSize</key>
			<string>{147, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{419, 0}, {147, 147}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>HealthBubble_Single_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{51, 54}, {47, 47}}</string>
			<key>spriteOffset</key>
			<string>{1, -4}</string>
			<key>spriteSize</key>
			<string>{47, 47}</string>
			<key>spriteSourceSize</key>
			<string>{147, 147}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{46, 448}, {47, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jim_Level10_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {137, 218}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{137, 218}</string>
			<key>spriteSourceSize</key>
			<string>{143, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 224}, {137, 218}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Jim_Level10_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {137, 218}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{137, 218}</string>
			<key>spriteSourceSize</key>
			<string>{143, 224}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {137, 218}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LanternFish_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {133, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{133, 110}</string>
			<key>spriteSourceSize</key>
			<string>{133, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{716, 275}, {133, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LanternFish_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {123, 110}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{123, 110}</string>
			<key>spriteSourceSize</key>
			<string>{133, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{796, 130}, {123, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level10_Anchor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {142, 197}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{142, 197}</string>
			<key>spriteSourceSize</key>
			<string>{142, 197}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{143, 204}, {142, 197}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level10_Bubble_R_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 98}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{-6, -48}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{58, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{151, 495}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level10_Bubble_R_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 76}, {26, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -37}</string>
			<key>spriteSize</key>
			<string>{26, 36}</string>
			<key>spriteSourceSize</key>
			<string>{58, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{397, 357}, {26, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level10_Bubble_R_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 47}, {40, 64}}</string>
			<key>spriteOffset</key>
			<string>{-6, -22}</string>
			<key>spriteSize</key>
			<string>{40, 64}</string>
			<key>spriteSourceSize</key>
			<string>{58, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 448}, {40, 64}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level10_Bubble_R_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {54, 94}}</string>
			<key>spriteOffset</key>
			<string>{1, 8}</string>
			<key>spriteSize</key>
			<string>{54, 94}</string>
			<key>spriteSourceSize</key>
			<string>{58, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{855, 246}, {54, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level10_Bubble_R_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {54, 74}}</string>
			<key>spriteOffset</key>
			<string>{1, 18}</string>
			<key>spriteSize</key>
			<string>{54, 74}</string>
			<key>spriteSourceSize</key>
			<string>{58, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{905, 346}, {54, 74}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level10_Bubble_R_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 2}, {44, 44}}</string>
			<key>spriteOffset</key>
			<string>{6, 33}</string>
			<key>spriteSize</key>
			<string>{44, 44}</string>
			<key>spriteSourceSize</key>
			<string>{58, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{291, 357}, {44, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>SeaHorse.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 82}</string>
			<key>spriteSourceSize</key>
			<string>{46, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{905, 426}, {46, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Squid_Body_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 0}, {114, 198}}</string>
			<key>spriteOffset</key>
			<string>{18, -0}</string>
			<key>spriteSize</key>
			<string>{114, 198}</string>
			<key>spriteSourceSize</key>
			<string>{150, 198}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{299, 0}, {114, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Squid_Body_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 1}, {108, 190}}</string>
			<key>spriteOffset</key>
			<string>{14, 3}</string>
			<key>spriteSize</key>
			<string>{108, 190}</string>
			<key>spriteSourceSize</key>
			<string>{150, 198}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 153}, {108, 190}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Squid_Body_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{39, 1}, {102, 184}}</string>
			<key>spriteOffset</key>
			<string>{15, 6}</string>
			<key>spriteSize</key>
			<string>{102, 184}</string>
			<key>spriteSourceSize</key>
			<string>{150, 198}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{558, 153}, {102, 184}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Squid_Body_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {150, 198}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{150, 198}</string>
			<key>spriteSourceSize</key>
			<string>{150, 198}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{143, 0}, {150, 198}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Squid_Ink_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 81}, {36, 48}}</string>
			<key>spriteOffset</key>
			<string>{13, -6}</string>
			<key>spriteSize</key>
			<string>{36, 48}</string>
			<key>spriteSourceSize</key>
			<string>{150, 198}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{490, 349}, {36, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Squid_Ink_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{69, 83}, {40, 48}}</string>
			<key>spriteOffset</key>
			<string>{14, -8}</string>
			<key>spriteSize</key>
			<string>{40, 48}</string>
			<key>spriteSourceSize</key>
			<string>{150, 198}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{444, 349}, {40, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Squid_Ink_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 83}, {46, 48}}</string>
			<key>spriteOffset</key>
			<string>{14, -8}</string>
			<key>spriteSize</key>
			<string>{46, 48}</string>
			<key>spriteSourceSize</key>
			<string>{150, 198}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{99, 448}, {46, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Squid_Ink_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 85}, {46, 48}}</string>
			<key>spriteOffset</key>
			<string>{14, -10}</string>
			<key>spriteSize</key>
			<string>{46, 48}</string>
			<key>spriteSourceSize</key>
			<string>{150, 198}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{151, 441}, {46, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Squid_Ink_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 94}, {50, 38}}</string>
			<key>spriteOffset</key>
			<string>{16, -14}</string>
			<key>spriteSize</key>
			<string>{50, 38}</string>
			<key>spriteSourceSize</key>
			<string>{150, 198}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{341, 357}, {50, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Squid_Ink_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{66, 102}, {38, 28}}</string>
			<key>spriteOffset</key>
			<string>{10, -17}</string>
			<key>spriteSize</key>
			<string>{38, 28}</string>
			<key>spriteSourceSize</key>
			<string>{150, 198}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{143, 407}, {38, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tronika_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 2}, {126, 90}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{126, 90}</string>
			<key>spriteSourceSize</key>
			<string>{130, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{203, 407}, {126, 90}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Tronika_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {122, 86}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{122, 86}</string>
			<key>spriteSourceSize</key>
			<string>{130, 92}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{449, 403}, {122, 86}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>waterLevel</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-hd</string>
			<key>textureFileName</key>
			<string>-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>