<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Dark_Bat_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 0}, {57, 91}}</string>
			<key>spriteOffset</key>
			<string>{2, 13}</string>
			<key>spriteSize</key>
			<string>{57, 91}</string>
			<key>spriteSourceSize</key>
			<string>{107, 117}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 419}, {57, 91}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dark_Bat_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 2}, {93, 81}}</string>
			<key>spriteOffset</key>
			<string>{7, 16}</string>
			<key>spriteSize</key>
			<string>{93, 81}</string>
			<key>spriteSourceSize</key>
			<string>{107, 117}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{63, 419}, {93, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dark_Bat_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 42}, {105, 75}}</string>
			<key>spriteOffset</key>
			<string>{-1, -21}</string>
			<key>spriteSize</key>
			<string>{105, 75}</string>
			<key>spriteSourceSize</key>
			<string>{107, 117}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{162, 419}, {105, 75}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dark_Cart_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{41, 35}, {178, 122}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{178, 122}</string>
			<key>spriteSourceSize</key>
			<string>{256, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1034, 170}, {178, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dark_Spikes_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 16}, {222, 164}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{222, 164}</string>
			<key>spriteSourceSize</key>
			<string>{256, 192}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1034, 0}, {222, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level11_Jim_Test.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {1028, 413}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{1028, 413}</string>
			<key>spriteSourceSize</key>
			<string>{1028, 415}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1028, 413}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 512}</string>
		<key>name</key>
		<string>darkLevel</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-hd</string>
			<key>textureFileName</key>
			<string>-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>