<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Dark_Bat_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 3}, {22, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{22, 34}</string>
			<key>spriteSourceSize</key>
			<string>{40, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 97}, {22, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dark_Bat_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 9}, {34, 24}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{34, 24}</string>
			<key>spriteSourceSize</key>
			<string>{40, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{48, 457}, {34, 24}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dark_Bat_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 14}, {40, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -7}</string>
			<key>spriteSize</key>
			<string>{40, 28}</string>
			<key>spriteSourceSize</key>
			<string>{40, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{48, 427}, {40, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dark_Bat_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {34, 30}}</string>
			<key>spriteOffset</key>
			<string>{3, 6}</string>
			<key>spriteSize</key>
			<string>{34, 30}</string>
			<key>spriteSourceSize</key>
			<string>{40, 42}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{91, 456}, {34, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dark_Cart_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 17}, {90, 62}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{90, 62}</string>
			<key>spriteSourceSize</key>
			<string>{128, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{187, 135}, {90, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dark_Cart_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 17}, {90, 62}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{90, 62}</string>
			<key>spriteSourceSize</key>
			<string>{128, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 363}, {90, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dark_Cart_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 17}, {90, 62}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{90, 62}</string>
			<key>spriteSourceSize</key>
			<string>{128, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{396, 0}, {90, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dark_Cart_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 17}, {90, 62}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{90, 62}</string>
			<key>spriteSourceSize</key>
			<string>{128, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 69}, {90, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dark_Spikes_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 8}, {112, 82}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{112, 82}</string>
			<key>spriteSourceSize</key>
			<string>{128, 96}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 140}, {112, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Dark_Tim_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 7}, {84, 136}}</string>
			<key>spriteOffset</key>
			<string>{4, -0}</string>
			<key>spriteSize</key>
			<string>{84, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{279, 135}, {84, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level11_Beast_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 67}, {45, 60}}</string>
			<key>spriteOffset</key>
			<string>{-3, -31}</string>
			<key>spriteSize</key>
			<string>{45, 60}</string>
			<key>spriteSourceSize</key>
			<string>{131, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 427}, {45, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level11_Beast_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 67}, {45, 60}}</string>
			<key>spriteOffset</key>
			<string>{-3, -31}</string>
			<key>spriteSize</key>
			<string>{45, 60}</string>
			<key>spriteSourceSize</key>
			<string>{131, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{423, 409}, {45, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level11_Beast_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 67}, {45, 60}}</string>
			<key>spriteOffset</key>
			<string>{-3, -31}</string>
			<key>spriteSize</key>
			<string>{45, 60}</string>
			<key>spriteSourceSize</key>
			<string>{131, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 393}, {45, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level11_Beast_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 60}, {45, 66}}</string>
			<key>spriteOffset</key>
			<string>{-3, -27}</string>
			<key>spriteSize</key>
			<string>{45, 66}</string>
			<key>spriteSourceSize</key>
			<string>{131, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 0}, {45, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level11_Beast_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{35, 33}, {59, 94}}</string>
			<key>spriteOffset</key>
			<string>{-1, -14}</string>
			<key>spriteSize</key>
			<string>{59, 94}</string>
			<key>spriteSourceSize</key>
			<string>{131, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 0}, {59, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level11_Beast_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 14}, {87, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{87, 112}</string>
			<key>spriteSourceSize</key>
			<string>{131, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{95, 278}, {87, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level11_Beast_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {127, 132}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{127, 132}</string>
			<key>spriteSourceSize</key>
			<string>{131, 132}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{155, 0}, {127, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ShadowTim_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 6}, {72, 136}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{72, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{365, 133}, {72, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ShadowTim_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 7}, {74, 136}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{74, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{273, 273}, {74, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ShadowTim_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 6}, {72, 136}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{72, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 139}, {72, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ShadowTim_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 6}, {72, 136}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{72, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 273}, {72, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ShadowTim_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 7}, {84, 136}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{84, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{187, 199}, {84, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ShadowTim_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 7}, {76, 136}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{76, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{184, 337}, {76, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ShadowTim_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 6}, {72, 136}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{72, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{423, 271}, {72, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ShadowTim_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 5}, {72, 138}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{72, 138}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {72, 138}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ShadowTim_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 6}, {80, 136}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{80, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{73, 0}, {80, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ShadowTim_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 7}, {92, 136}}</string>
			<key>spriteOffset</key>
			<string>{-3, -0}</string>
			<key>spriteSize</key>
			<string>{92, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 225}, {92, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>darkLevel</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>s</string>
			<key>textureFileName</key>
			<string>s</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>s</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>