<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Icon_Facebook.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 28}</string>
			<key>spriteSourceSize</key>
			<string>{28, 28}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{985, 18}, {28, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Icon_Twitter.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 28}</string>
			<key>spriteSourceSize</key>
			<string>{28, 28}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{985, 49}, {28, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelPreview_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {186, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{186, 121}</string>
			<key>spriteSourceSize</key>
			<string>{194, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 323}, {186, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelPreview_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {186, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{186, 121}</string>
			<key>spriteSourceSize</key>
			<string>{194, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{483, 207}, {186, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelPreview_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {186, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{186, 121}</string>
			<key>spriteSourceSize</key>
			<string>{194, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{758, 635}, {186, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelPreview_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {186, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{186, 121}</string>
			<key>spriteSourceSize</key>
			<string>{194, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{188, 447}, {186, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelPreview_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {186, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{186, 121}</string>
			<key>spriteSourceSize</key>
			<string>{194, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{771, 510}, {186, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelPreview_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {186, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{186, 121}</string>
			<key>spriteSourceSize</key>
			<string>{194, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{782, 261}, {186, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelPreview_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {186, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{186, 121}</string>
			<key>spriteSourceSize</key>
			<string>{194, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 805}, {186, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelPreview_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {186, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{186, 121}</string>
			<key>spriteSourceSize</key>
			<string>{194, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{475, 332}, {186, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelPreview_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {186, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{186, 121}</string>
			<key>spriteSourceSize</key>
			<string>{194, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{774, 386}, {186, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelPreview_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {186, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{186, 121}</string>
			<key>spriteSourceSize</key>
			<string>{194, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{429, 581}, {186, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelPreview_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {186, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{186, 121}</string>
			<key>spriteSourceSize</key>
			<string>{194, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{429, 456}, {186, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelPreview_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {186, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{186, 121}</string>
			<key>spriteSourceSize</key>
			<string>{194, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 323}, {186, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelPreview_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 5}, {186, 121}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{186, 121}</string>
			<key>spriteSourceSize</key>
			<string>{194, 129}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 447}, {186, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_Background.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{480, 320}</string>
			<key>spriteSourceSize</key>
			<string>{480, 320}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {480, 320}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_Level1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {49, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 49}</string>
			<key>spriteSourceSize</key>
			<string>{55, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 705}, {49, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_Level10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {49, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 49}</string>
			<key>spriteSourceSize</key>
			<string>{55, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{960, 597}, {49, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_Level11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {49, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 49}</string>
			<key>spriteSourceSize</key>
			<string>{55, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{377, 508}, {49, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_Level12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {49, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 49}</string>
			<key>spriteSourceSize</key>
			<string>{55, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{947, 649}, {49, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_Level13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {49, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 49}</string>
			<key>spriteSourceSize</key>
			<string>{55, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{377, 560}, {49, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_Level2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {49, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 49}</string>
			<key>spriteSourceSize</key>
			<string>{55, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{960, 545}, {49, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_Level3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {49, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 49}</string>
			<key>spriteSourceSize</key>
			<string>{55, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{971, 380}, {49, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_Level4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {49, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 49}</string>
			<key>spriteSourceSize</key>
			<string>{55, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{947, 701}, {49, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_Level5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {49, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 49}</string>
			<key>spriteSourceSize</key>
			<string>{55, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{52, 705}, {49, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_Level6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {49, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 49}</string>
			<key>spriteSourceSize</key>
			<string>{55, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{947, 753}, {49, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_Level7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {49, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 49}</string>
			<key>spriteSourceSize</key>
			<string>{55, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{377, 456}, {49, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_Level8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {49, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 49}</string>
			<key>spriteSourceSize</key>
			<string>{55, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{971, 276}, {49, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_Level9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {49, 49}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 49}</string>
			<key>spriteSourceSize</key>
			<string>{55, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{971, 328}, {49, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_LevelInfo.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {194, 258}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{194, 258}</string>
			<key>spriteSourceSize</key>
			<string>{194, 258}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{787, 0}, {194, 258}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_LevelLocked.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 53}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{55, 53}</string>
			<key>spriteSourceSize</key>
			<string>{55, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{963, 490}, {55, 53}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_LevelSelected.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {55, 55}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{55, 55}</string>
			<key>spriteSourceSize</key>
			<string>{55, 55}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{963, 432}, {55, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_ShoppingCart.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {28, 25}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{28, 25}</string>
			<key>spriteSourceSize</key>
			<string>{28, 25}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{985, 80}, {28, 25}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_Trophy_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{25, 47}</string>
			<key>spriteSourceSize</key>
			<string>{25, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{985, 157}, {25, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_Trophy_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{25, 47}</string>
			<key>spriteSourceSize</key>
			<string>{25, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{985, 108}, {25, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>LevelSelector_Trophy_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {25, 47}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{25, 47}</string>
			<key>spriteSourceSize</key>
			<string>{25, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{985, 206}, {25, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MessageBox.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 3}, {301, 205}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{301, 205}</string>
			<key>spriteSourceSize</key>
			<string>{313, 211}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{483, 0}, {301, 205}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Insane_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 0}, {118, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{241, 705}, {118, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Insane_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {152, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{152, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 527}, {152, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Insane_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 0}, {108, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{108, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{671, 243}, {108, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Insane_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 0}, {138, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{138, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 633}, {138, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Insane_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 0}, {106, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 607}, {106, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Insane_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 0}, {106, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{663, 420}, {106, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Insane_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 0}, {108, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{108, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{663, 349}, {108, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Insane_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 0}, {108, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{108, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{671, 314}, {108, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Insane_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 0}, {96, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{377, 323}, {96, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Insane_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {132, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{132, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{241, 607}, {132, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Insane_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 759}, {160, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Insane_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {144, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 562}, {144, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Insane_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 0}, {134, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{134, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 704}, {134, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Normal_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{21, 0}, {118, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 643}, {118, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Normal_10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {152, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{152, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 491}, {152, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Normal_11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 0}, {108, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{108, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{671, 278}, {108, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Normal_12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 0}, {138, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{138, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 669}, {138, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Normal_13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 0}, {106, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{120, 572}, {106, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Normal_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 0}, {106, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{663, 456}, {106, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Normal_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 0}, {108, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{108, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{663, 385}, {108, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Normal_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 0}, {108, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{108, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{671, 207}, {108, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Normal_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 0}, {96, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{96, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{377, 358}, {96, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Normal_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {132, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{132, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{241, 572}, {132, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Normal_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {160, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{163, 759}, {160, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Normal_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {144, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{144, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{617, 598}, {144, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Name_Normal_9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 0}, {134, 32}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{134, 32}</string>
			<key>spriteSourceSize</key>
			<string>{160, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{104, 705}, {134, 32}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_GameType_ButtonS_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {94, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 28}</string>
			<key>spriteSourceSize</key>
			<string>{104, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{377, 394}, {94, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_GameType_ButtonS_Green.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 3}, {94, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{94, 28}</string>
			<key>spriteSourceSize</key>
			<string>{104, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{377, 425}, {94, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_Locked.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {19, 19}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{19, 19}</string>
			<key>spriteSourceSize</key>
			<string>{19, 19}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{985, 255}, {19, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_New.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 0}, {38, 16}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{38, 16}</string>
			<key>spriteSourceSize</key>
			<string>{62, 16}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{985, 0}, {38, 16}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>chooseLevel</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>s</string>
			<key>textureFileName</key>
			<string>s</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>s</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>