<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>EndGame_Star_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{34, 223}, {77, 38}}</string>
			<key>spriteOffset</key>
			<string>{-1, -110}</string>
			<key>spriteSize</key>
			<string>{77, 38}</string>
			<key>spriteSourceSize</key>
			<string>{147, 264}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{911, 102}, {77, 38}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>EndGame_Star_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{29, 213}, {89, 42}}</string>
			<key>spriteOffset</key>
			<string>{0, -102}</string>
			<key>spriteSize</key>
			<string>{89, 42}</string>
			<key>spriteSourceSize</key>
			<string>{147, 264}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{911, 54}, {89, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>EndGame_Star_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 204}, {109, 48}}</string>
			<key>spriteOffset</key>
			<string>{0, -96}</string>
			<key>spriteSize</key>
			<string>{109, 48}</string>
			<key>spriteSourceSize</key>
			<string>{147, 264}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{911, 0}, {109, 48}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>EndGame_Star_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 202}, {125, 44}}</string>
			<key>spriteOffset</key>
			<string>{1, -92}</string>
			<key>spriteSize</key>
			<string>{125, 44}</string>
			<key>spriteSourceSize</key>
			<string>{147, 264}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 423}, {125, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>EndGame_Star_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 204}, {133, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -89}</string>
			<key>spriteSize</key>
			<string>{133, 34}</string>
			<key>spriteSourceSize</key>
			<string>{147, 264}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 473}, {133, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>EndGame_Star_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 209}, {141, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -88}</string>
			<key>spriteSize</key>
			<string>{141, 22}</string>
			<key>spriteSourceSize</key>
			<string>{147, 264}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{131, 423}, {141, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>EndGame_TimeBack.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {905, 149}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{905, 149}</string>
			<key>spriteSourceSize</key>
			<string>{905, 149}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {905, 149}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>EndGame_Trophy.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {145, 262}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{145, 262}</string>
			<key>spriteSourceSize</key>
			<string>{147, 264}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 155}, {145, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>EndGame_Trophy_B.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {145, 262}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{145, 262}</string>
			<key>spriteSourceSize</key>
			<string>{147, 264}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{151, 155}, {145, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>EndGame_Trophy_G.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {145, 262}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{145, 262}</string>
			<key>spriteSourceSize</key>
			<string>{147, 264}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{302, 155}, {145, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>EndGame_Trophy_S.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {145, 262}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{145, 262}</string>
			<key>spriteSourceSize</key>
			<string>{147, 264}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{453, 155}, {145, 262}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>endLevelLayer</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-hd</string>
			<key>textureFileName</key>
			<string>-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>