<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Town_Bird_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {131, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{131, 71}</string>
			<key>spriteSourceSize</key>
			<string>{135, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 85}, {131, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Town_Bird_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {131, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{131, 71}</string>
			<key>spriteSourceSize</key>
			<string>{135, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 237}, {131, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Town_Bird_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {131, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{131, 71}</string>
			<key>spriteSourceSize</key>
			<string>{135, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 313}, {131, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Town_Bird_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 2}, {131, 71}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{131, 71}</string>
			<key>spriteSourceSize</key>
			<string>{135, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 161}, {131, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Town_Haybale_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {109, 116}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{109, 116}</string>
			<key>spriteSourceSize</key>
			<string>{109, 116}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 389}, {109, 116}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Town_Jim_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 0}, {106, 185}}</string>
			<key>spriteOffset</key>
			<string>{2, 5}</string>
			<key>spriteSize</key>
			<string>{106, 185}</string>
			<key>spriteSourceSize</key>
			<string>{146, 195}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{136, 138}, {106, 185}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Town_Leafpile_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {224, 80}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{224, 80}</string>
			<key>spriteSourceSize</key>
			<string>{230, 80}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {224, 80}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Town_Rolling_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 1}, {125, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{125, 133}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 276}, {125, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Town_Rolling_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 1}, {125, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{125, 133}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{359, 0}, {125, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Town_Rolling_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 1}, {125, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{125, 133}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{377, 138}, {125, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Town_Rolling_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 1}, {125, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{125, 133}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 138}, {125, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Town_Rolling_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 1}, {125, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{125, 133}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{377, 276}, {125, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Town_Rolling_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 1}, {125, 133}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{125, 133}</string>
			<key>spriteSourceSize</key>
			<string>{135, 135}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{229, 0}, {125, 133}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Town_Small_Haybale_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {70, 82}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{70, 82}</string>
			<key>spriteSourceSize</key>
			<string>{70, 82}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{114, 389}, {70, 82}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>townLevel.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-hd</string>
			<key>textureFileName</key>
			<string>-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>