<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Barn_Cow_Died_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 20}, {191, 159}}</string>
			<key>spriteOffset</key>
			<string>{-14, -10}</string>
			<key>spriteSize</key>
			<string>{191, 159}</string>
			<key>spriteSourceSize</key>
			<string>{223, 179}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 0}, {191, 159}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Barn_Cow_Idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {217, 177}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{217, 177}</string>
			<key>spriteSourceSize</key>
			<string>{223, 179}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {217, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Barn_Cow_Idle_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 0}, {195, 177}}</string>
			<key>spriteOffset</key>
			<string>{-9, 1}</string>
			<key>spriteSize</key>
			<string>{195, 177}</string>
			<key>spriteSourceSize</key>
			<string>{223, 179}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 182}, {195, 177}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Barn_Hen_Idle_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 84}</string>
			<key>spriteSourceSize</key>
			<string>{90, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{327, 375}, {90, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Barn_Hen_Kicked_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 84}</string>
			<key>spriteSourceSize</key>
			<string>{90, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{418, 89}, {90, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Barn_Jim_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{20, 0}, {122, 213}}</string>
			<key>spriteOffset</key>
			<string>{-3, 6}</string>
			<key>spriteSize</key>
			<string>{122, 213}</string>
			<key>spriteSourceSize</key>
			<string>{168, 225}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 247}, {122, 213}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Barn_Pig_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {173, 123}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{173, 123}</string>
			<key>spriteSourceSize</key>
			<string>{175, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 364}, {173, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Barn_Pig_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {171, 123}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{171, 123}</string>
			<key>spriteSourceSize</key>
			<string>{175, 125}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{327, 247}, {171, 123}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Barn_Poop_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {214, 60}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{214, 60}</string>
			<key>spriteSourceSize</key>
			<string>{226, 62}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 182}, {214, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Barn_Poop_Effect_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 12}, {14, 12}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{14, 12}</string>
			<key>spriteSourceSize</key>
			<string>{32, 32}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 164}, {14, 12}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Barn_Stone_Chicken_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 84}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 84}</string>
			<key>spriteSourceSize</key>
			<string>{90, 84}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{418, 0}, {90, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>barnLevel</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-hd</string>
			<key>textureFileName</key>
			<string>-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>