<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>UI_GameType_Background.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {1024, 768}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{1024, 768}</string>
			<key>spriteSourceSize</key>
			<string>{1024, 768}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {1024, 768}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_GameType_ButtonL_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {197, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{197, 56}</string>
			<key>spriteSourceSize</key>
			<string>{209, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{203, 960}, {197, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_GameType_ButtonL_Green.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 6}, {197, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{197, 56}</string>
			<key>spriteSourceSize</key>
			<string>{209, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 960}, {197, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_GameType_ButtonS_Blue.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {187, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{187, 56}</string>
			<key>spriteSourceSize</key>
			<string>{209, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{545, 848}, {187, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_GameType_ButtonS_Green.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 6}, {187, 56}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{187, 56}</string>
			<key>spriteSourceSize</key>
			<string>{209, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 848}, {187, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_GameType_ExtrasC.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 22}, {211, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{211, 43}</string>
			<key>spriteSourceSize</key>
			<string>{211, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 910}, {211, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_GameType_ExtrasG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 22}, {211, 43}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{211, 43}</string>
			<key>spriteSourceSize</key>
			<string>{211, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{406, 959}, {211, 43}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_GameType_PanelColor.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {286, 456}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{286, 456}</string>
			<key>spriteSourceSize</key>
			<string>{286, 456}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1030, 462}, {286, 456}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_GameType_PanelGray.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {286, 456}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{286, 456}</string>
			<key>spriteSourceSize</key>
			<string>{286, 456}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1030, 0}, {286, 456}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_GameType_Select.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {209, 68}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{209, 68}</string>
			<key>spriteSourceSize</key>
			<string>{209, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{352, 774}, {209, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_GameType_StoryModeC.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 0}, {177, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{177, 87}</string>
			<key>spriteSourceSize</key>
			<string>{211, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 774}, {177, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_GameType_StoryModeG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 0}, {177, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{177, 87}</string>
			<key>spriteSourceSize</key>
			<string>{211, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 867}, {177, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_GameType_TimeModeC.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 0}, {163, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{163, 87}</string>
			<key>spriteSourceSize</key>
			<string>{211, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{183, 867}, {163, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>UI_GameType_TimeModeG.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 0}, {163, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{163, 87}</string>
			<key>spriteSourceSize</key>
			<string>{211, 87}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{183, 774}, {163, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>chooseMode-ipad</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-hd</string>
			<key>textureFileName</key>
			<string>-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>