<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>FWH_Zombie_Walking_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 81}, {70, 60}}</string>
			<key>spriteOffset</key>
			<string>{-10, -36}</string>
			<key>spriteSize</key>
			<string>{70, 60}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 324}, {70, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FWH_Zombie_Walking_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 82}, {64, 60}}</string>
			<key>spriteOffset</key>
			<string>{-12, -37}</string>
			<key>spriteSize</key>
			<string>{64, 60}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 409}, {64, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FWH_Zombie_Walking_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 80}, {64, 62}}</string>
			<key>spriteOffset</key>
			<string>{-12, -36}</string>
			<key>spriteSize</key>
			<string>{64, 62}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{527, 232}, {64, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FWH_Zombie_Walking_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 81}, {70, 60}}</string>
			<key>spriteOffset</key>
			<string>{-9, -36}</string>
			<key>spriteSize</key>
			<string>{70, 60}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{374, 408}, {70, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FWH_Zombie_Walking_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 82}, {66, 60}}</string>
			<key>spriteOffset</key>
			<string>{-11, -37}</string>
			<key>spriteSize</key>
			<string>{66, 60}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{590, 427}, {66, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FWH_Zombie_Walking_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 80}, {62, 62}}</string>
			<key>spriteOffset</key>
			<string>{-13, -36}</string>
			<key>spriteSize</key>
			<string>{62, 62}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{527, 297}, {62, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>F_Zombie_Head.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {83, 85}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{83, 85}</string>
			<key>spriteSourceSize</key>
			<string>{83, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 417}, {83, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>F_Zombie_Walking_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 8}, {90, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 134}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{92, 278}, {90, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>F_Zombie_Walking_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 9}, {90, 132}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{90, 132}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{93, 0}, {90, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>F_Zombie_Walking_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {90, 136}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{90, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {90, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>F_Zombie_Walking_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {88, 136}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{88, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 278}, {88, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>F_Zombie_Walking_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 8}, {88, 134}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{88, 134}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{93, 136}, {88, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>F_Zombie_Walking_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 6}, {90, 136}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{90, 136}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 139}, {90, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Bike_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {79, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 114}</string>
			<key>spriteSourceSize</key>
			<string>{81, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{526, 0}, {79, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Bike_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {79, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 114}</string>
			<key>spriteSourceSize</key>
			<string>{81, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{277, 0}, {79, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Bike_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {79, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 114}</string>
			<key>spriteSourceSize</key>
			<string>{81, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{366, 133}, {79, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Box_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 46}, {33, 55}}</string>
			<key>spriteOffset</key>
			<string>{-22, -23}</string>
			<key>spriteSize</key>
			<string>{33, 55}</string>
			<key>spriteSourceSize</key>
			<string>{77, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{609, 55}, {33, 55}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Box_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 38}, {47, 63}}</string>
			<key>spriteOffset</key>
			<string>{-12, -19}</string>
			<key>spriteSize</key>
			<string>{47, 63}</string>
			<key>spriteSourceSize</key>
			<string>{77, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{578, 116}, {47, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Box_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 44}, {51, 57}}</string>
			<key>spriteOffset</key>
			<string>{-1, -22}</string>
			<key>spriteSize</key>
			<string>{51, 57}</string>
			<key>spriteSourceSize</key>
			<string>{77, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{535, 453}, {51, 57}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Box_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 60}, {45, 41}}</string>
			<key>spriteOffset</key>
			<string>{8, -30}</string>
			<key>spriteSize</key>
			<string>{45, 41}</string>
			<key>spriteSourceSize</key>
			<string>{77, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{578, 181}, {45, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Box_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{19, 52}, {53, 49}}</string>
			<key>spriteOffset</key>
			<string>{7, -26}</string>
			<key>spriteSize</key>
			<string>{53, 49}</string>
			<key>spriteSourceSize</key>
			<string>{77, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{593, 225}, {53, 49}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Box_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 38}, {63, 63}}</string>
			<key>spriteOffset</key>
			<string>{7, -19}</string>
			<key>spriteSize</key>
			<string>{63, 63}</string>
			<key>spriteSourceSize</key>
			<string>{77, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{518, 387}, {63, 63}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Box_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 20}, {63, 81}}</string>
			<key>spriteOffset</key>
			<string>{7, -10}</string>
			<key>spriteSize</key>
			<string>{63, 81}</string>
			<key>spriteSourceSize</key>
			<string>{77, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 414}, {63, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Box_8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 0}, {63, 101}}</string>
			<key>spriteOffset</key>
			<string>{7, -0}</string>
			<key>spriteSize</key>
			<string>{63, 101}</string>
			<key>spriteSourceSize</key>
			<string>{77, 101}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{240, 410}, {63, 101}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Brain_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {40, 27}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{40, 27}</string>
			<key>spriteSourceSize</key>
			<string>{42, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{449, 232}, {40, 27}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Brain_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 10}, {40, 17}}</string>
			<key>spriteOffset</key>
			<string>{0, -5}</string>
			<key>spriteSize</key>
			<string>{40, 17}</string>
			<key>spriteSourceSize</key>
			<string>{42, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{277, 116}, {40, 17}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Brain_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 12}, {42, 15}}</string>
			<key>spriteOffset</key>
			<string>{0, -6}</string>
			<key>spriteSize</key>
			<string>{42, 15}</string>
			<key>spriteSourceSize</key>
			<string>{42, 27}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{319, 116}, {42, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Cone.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {34, 52}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{34, 52}</string>
			<key>spriteSourceSize</key>
			<string>{34, 52}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{609, 0}, {34, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_GarbageBag.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {44, 73}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{44, 73}</string>
			<key>spriteSourceSize</key>
			<string>{46, 75}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{532, 116}, {44, 73}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Heart_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {32, 30}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{32, 30}</string>
			<key>spriteSourceSize</key>
			<string>{32, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{532, 191}, {32, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Heart_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 8}, {32, 22}}</string>
			<key>spriteOffset</key>
			<string>{0, -4}</string>
			<key>spriteSize</key>
			<string>{32, 22}</string>
			<key>spriteSourceSize</key>
			<string>{32, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{491, 232}, {32, 22}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Heart_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 16}, {32, 14}}</string>
			<key>spriteOffset</key>
			<string>{0, -8}</string>
			<key>spriteSize</key>
			<string>{32, 14}</string>
			<key>spriteSourceSize</key>
			<string>{32, 30}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{174, 498}, {32, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Jim_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {79, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 112}</string>
			<key>spriteSourceSize</key>
			<string>{81, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{443, 0}, {79, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Jim_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {79, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 112}</string>
			<key>spriteSourceSize</key>
			<string>{81, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{360, 0}, {79, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Jim_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {79, 112}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{79, 112}</string>
			<key>spriteSourceSize</key>
			<string>{81, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{449, 116}, {79, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Pigeon_Z_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 39}</string>
			<key>spriteSourceSize</key>
			<string>{53, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{422, 472}, {53, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Pigeon_Z_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 39}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 39}</string>
			<key>spriteSourceSize</key>
			<string>{53, 39}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{478, 472}, {53, 39}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Water.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 16}, {114, 30}}</string>
			<key>spriteOffset</key>
			<string>{-1, 1}</string>
			<key>spriteSize</key>
			<string>{114, 30}</string>
			<key>spriteSourceSize</key>
			<string>{160, 64}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 480}, {114, 30}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MWH_Zombie_Walking_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 81}, {70, 60}}</string>
			<key>spriteOffset</key>
			<string>{-10, -36}</string>
			<key>spriteSize</key>
			<string>{70, 60}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{454, 261}, {70, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MWH_Zombie_Walking_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 81}, {64, 60}}</string>
			<key>spriteOffset</key>
			<string>{-12, -36}</string>
			<key>spriteSize</key>
			<string>{64, 60}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{592, 297}, {64, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MWH_Zombie_Walking_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 81}, {62, 62}}</string>
			<key>spriteOffset</key>
			<string>{-12, -37}</string>
			<key>spriteSize</key>
			<string>{62, 62}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{584, 362}, {62, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MWH_Zombie_Walking_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 81}, {68, 60}}</string>
			<key>spriteOffset</key>
			<string>{-9, -36}</string>
			<key>spriteSize</key>
			<string>{68, 60}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{447, 408}, {68, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MWH_Zombie_Walking_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 82}, {64, 60}}</string>
			<key>spriteOffset</key>
			<string>{-11, -37}</string>
			<key>spriteSize</key>
			<string>{64, 60}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{658, 424}, {64, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MWH_Zombie_Walking_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{13, 80}, {62, 62}}</string>
			<key>spriteOffset</key>
			<string>{-12, -36}</string>
			<key>spriteSize</key>
			<string>{62, 62}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{650, 360}, {62, 62}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>M_Zombie_Head.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 3}, {86, 81}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{86, 81}</string>
			<key>spriteSourceSize</key>
			<string>{90, 85}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 417}, {86, 81}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>M_Zombie_Walking_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 8}, {88, 134}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{88, 134}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{187, 0}, {88, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>M_Zombie_Walking_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 8}, {86, 134}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{86, 134}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{275, 273}, {86, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>M_Zombie_Walking_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 8}, {86, 134}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{86, 134}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{186, 273}, {86, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>M_Zombie_Walking_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 7}, {88, 134}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{88, 134}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{185, 136}, {88, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>M_Zombie_Walking_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 8}, {86, 134}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{86, 134}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{365, 272}, {86, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>M_Zombie_Walking_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 8}, {86, 134}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{86, 134}</string>
			<key>spriteSourceSize</key>
			<string>{112, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{276, 136}, {86, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombies_Bullet.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 4}, {25, 14}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{25, 14}</string>
			<key>spriteSourceSize</key>
			<string>{29, 22}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{363, 116}, {25, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 512}</string>
		<key>name</key>
		<string>zombieLevel.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>s</string>
			<key>textureFileName</key>
			<string>s</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>s</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>