<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>FWH_Zombie_Walking_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 163}, {139, 120}}</string>
			<key>spriteOffset</key>
			<string>{-21, -73}</string>
			<key>spriteSize</key>
			<string>{139, 120}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{773, 816}, {139, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FWH_Zombie_Walking_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 147}, {131, 136}}</string>
			<key>spriteOffset</key>
			<string>{-24, -65}</string>
			<key>spriteSize</key>
			<string>{131, 136}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 828}, {131, 136}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FWH_Zombie_Walking_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 161}, {127, 124}}</string>
			<key>spriteOffset</key>
			<string>{-25, -73}</string>
			<key>spriteSize</key>
			<string>{127, 124}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{887, 126}, {127, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FWH_Zombie_Walking_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 162}, {139, 122}}</string>
			<key>spriteOffset</key>
			<string>{-19, -73}</string>
			<key>spriteSize</key>
			<string>{139, 122}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{485, 820}, {139, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FWH_Zombie_Walking_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 165}, {131, 118}}</string>
			<key>spriteOffset</key>
			<string>{-23, -74}</string>
			<key>spriteSize</key>
			<string>{131, 118}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{898, 386}, {131, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FWH_Zombie_Walking_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 161}, {125, 124}}</string>
			<key>spriteOffset</key>
			<string>{-26, -73}</string>
			<key>spriteSize</key>
			<string>{125, 124}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{898, 256}, {125, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>F_Zombie_Head.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {164, 171}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{164, 171}</string>
			<key>spriteSourceSize</key>
			<string>{166, 171}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 834}, {164, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>F_Zombie_Walking_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 16}, {181, 266}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{181, 266}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{185, 556}, {181, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>F_Zombie_Walking_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 17}, {181, 266}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{181, 266}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{187, 0}, {181, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>F_Zombie_Walking_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 12}, {181, 272}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{181, 272}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 278}, {181, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>F_Zombie_Walking_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 12}, {179, 272}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{179, 272}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 556}, {179, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>F_Zombie_Walking_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 15}, {177, 268}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{177, 268}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{187, 272}, {177, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>F_Zombie_Walking_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 12}, {181, 272}}</string>
			<key>spriteOffset</key>
			<string>{2, 2}</string>
			<key>spriteSize</key>
			<string>{181, 272}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {181, 272}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Bike_01.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {160, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 226}</string>
			<key>spriteSourceSize</key>
			<string>{162, 228}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{721, 0}, {160, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Bike_02.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {160, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 226}</string>
			<key>spriteSourceSize</key>
			<string>{162, 228}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{732, 266}, {160, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Bike_03.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {160, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{160, 226}</string>
			<key>spriteSourceSize</key>
			<string>{162, 228}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{555, 0}, {160, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Brain_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {78, 52}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{78, 52}</string>
			<key>spriteSourceSize</key>
			<string>{84, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{348, 970}, {78, 52}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Brain_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 20}, {78, 34}}</string>
			<key>spriteOffset</key>
			<string>{-1, -10}</string>
			<key>spriteSize</key>
			<string>{78, 34}</string>
			<key>spriteSourceSize</key>
			<string>{84, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{432, 970}, {78, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Brain_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 26}, {82, 28}}</string>
			<key>spriteOffset</key>
			<string>{-1, -13}</string>
			<key>spriteSize</key>
			<string>{82, 28}</string>
			<key>spriteSourceSize</key>
			<string>{84, 54}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{555, 232}, {82, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Cone.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {68, 104}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{68, 104}</string>
			<key>spriteSourceSize</key>
			<string>{68, 104}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1167, 0}, {68, 104}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_GarbageBag.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 3}, {86, 144}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{86, 144}</string>
			<key>spriteSourceSize</key>
			<string>{92, 150}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{909, 510}, {86, 144}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Heart_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {62, 60}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{62, 60}</string>
			<key>spriteSourceSize</key>
			<string>{64, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1241, 0}, {62, 60}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Heart_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 18}, {62, 42}}</string>
			<key>spriteOffset</key>
			<string>{1, -9}</string>
			<key>spriteSize</key>
			<string>{62, 42}</string>
			<key>spriteSourceSize</key>
			<string>{64, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1241, 66}, {62, 42}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Heart_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 34}, {64, 26}}</string>
			<key>spriteOffset</key>
			<string>{0, -17}</string>
			<key>spriteSize</key>
			<string>{64, 26}</string>
			<key>spriteSourceSize</key>
			<string>{64, 60}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{643, 232}, {64, 26}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Pigeon_Z_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {107, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{107, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{861, 942}, {107, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Pigeon_Z_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {107, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{107, 76}</string>
			<key>spriteSourceSize</key>
			<string>{107, 78}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{748, 946}, {107, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level6_Water.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 34}, {226, 56}}</string>
			<key>spriteOffset</key>
			<string>{-2, 2}</string>
			<key>spriteSize</key>
			<string>{226, 56}</string>
			<key>spriteSourceSize</key>
			<string>{320, 128}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{516, 948}, {226, 56}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MWH_Zombie_Walking_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 161}, {139, 120}}</string>
			<key>spriteOffset</key>
			<string>{-20, -71}</string>
			<key>spriteSize</key>
			<string>{139, 120}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{887, 0}, {139, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MWH_Zombie_Walking_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 162}, {129, 120}}</string>
			<key>spriteOffset</key>
			<string>{-24, -72}</string>
			<key>spriteSize</key>
			<string>{129, 120}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1032, 0}, {129, 120}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MWH_Zombie_Walking_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 161}, {125, 124}}</string>
			<key>spriteOffset</key>
			<string>{-25, -73}</string>
			<key>spriteSize</key>
			<string>{125, 124}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1020, 126}, {125, 124}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MWH_Zombie_Walking_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 161}, {137, 122}}</string>
			<key>spriteOffset</key>
			<string>{-18, -72}</string>
			<key>spriteSize</key>
			<string>{137, 122}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{630, 818}, {137, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MWH_Zombie_Walking_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 163}, {129, 118}}</string>
			<key>spriteOffset</key>
			<string>{-21, -72}</string>
			<key>spriteSize</key>
			<string>{129, 118}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1151, 126}, {129, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MWH_Zombie_Walking_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 160}, {125, 122}}</string>
			<key>spriteOffset</key>
			<string>{-25, -71}</string>
			<key>spriteSize</key>
			<string>{125, 122}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1029, 256}, {125, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>M_Zombie_Head.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 7}, {172, 161}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{172, 161}</string>
			<key>spriteSourceSize</key>
			<string>{180, 171}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 834}, {172, 161}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>M_Zombie_Walking_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 16}, {175, 266}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{175, 266}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{374, 0}, {175, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>M_Zombie_Walking_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 16}, {173, 266}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{173, 266}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{553, 272}, {173, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>M_Zombie_Walking_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 16}, {173, 268}}</string>
			<key>spriteOffset</key>
			<string>{-2, -0}</string>
			<key>spriteSize</key>
			<string>{173, 268}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{372, 546}, {173, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>M_Zombie_Walking_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 14}, {177, 268}}</string>
			<key>spriteOffset</key>
			<string>{-7, 2}</string>
			<key>spriteSize</key>
			<string>{177, 268}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{370, 272}, {177, 268}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>M_Zombie_Walking_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 16}, {173, 266}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{173, 266}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{551, 546}, {173, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>M_Zombie_Walking_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{24, 16}, {173, 266}}</string>
			<key>spriteOffset</key>
			<string>{-2, 1}</string>
			<key>spriteSize</key>
			<string>{173, 266}</string>
			<key>spriteSourceSize</key>
			<string>{225, 300}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{730, 544}, {173, 266}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Zombies_Bullet.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 9}, {48, 28}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{48, 28}</string>
			<key>spriteSourceSize</key>
			<string>{58, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{713, 232}, {48, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 1024}</string>
		<key>name</key>
		<string>zombieLevel.zwd</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-hd</string>
			<key>textureFileName</key>
			<string>-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>