<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jimSpaceshipAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.15</string>
		<key>group</key>
		<string>level7</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Level7_JimSpaceCraft_</string>
		<key>spritesheetPlist</key>
		<string>computerLevel</string>
	</dict>
	<key>jimSpaceshipWarningAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.1</string>
		<key>group</key>
		<string>level7</string>
		<key>looping</key>
		<string>false</string>
		<key>sequencePrefix</key>
		<string>FireSpark_</string>
		<key>spritesheetPlist</key>
		<string>computerLevel</string>
	</dict>
	<key>cowDied</key>
	<dict>
		<key>animationFrames</key>
		<string>1</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.075</string>
		<key>group</key>
		<string>level2</string>
		<key>looping</key>
		<string>false</string>
		<key>sequencePrefix</key>
		<string>Barn_Cow_Died_</string>
		<key>spritesheetPlist</key>
		<string>barnLevel</string>
	</dict>
	<key>cowIdle</key>
	<dict>
		<key>animationFrames</key>
		<string>1,1,2,1,2</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.15</string>
		<key>group</key>
		<string>level2</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Barn_Cow_Idle_</string>
		<key>spritesheetPlist</key>
		<string>barnLevel</string>
	</dict>
	<key>retroHurdleAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>5.0</string>
		<key>group</key>
		<string>level7</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Retro_Hurdle_</string>
		<key>spritesheetPlist</key>
		<string>computerLevel</string>
	</dict>
	<key>townJimAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>5.0</string>
		<key>group</key>
		<string>level3</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Town_Jim_</string>
		<key>spritesheetPlist</key>
		<string>townLevel</string>
	</dict>
	<key>townLeafpileAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>5.0</string>
		<key>group</key>
		<string>level3</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Town_Leafpile_</string>
		<key>spritesheetPlist</key>
		<string>townLevel</string>
	</dict>
	<key>townRollingHayAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,5,4,3,2</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.1</string>
		<key>group</key>
		<string>level3</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Town_Rolling_</string>
		<key>spritesheetPlist</key>
		<string>townLevel</string>
	</dict>
	<key>townHaybaleAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>5.0</string>
		<key>group</key>
		<string>level3</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Town_Haybale_</string>
		<key>spritesheetPlist</key>
		<string>townLevel</string>
	</dict>
	<key>townHaybaleSmaillAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>5.0</string>
		<key>group</key>
		<string>level3</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Town_Small_Haybale_</string>
		<key>spritesheetPlist</key>
		<string>townLevel</string>
	</dict>
	<key>retroGarbageAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>5.0</string>
		<key>group</key>
		<string>level7</string>
		<key>looping</key>
		<string>false</string>
		<key>sequencePrefix</key>
		<string>Retro_Garbage_</string>
		<key>spritesheetPlist</key>
		<string>computerLevel</string>
	</dict>
	<key>retroPigAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.1</string>
		<key>group</key>
		<string>level7</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Retro_Pig_</string>
		<key>spritesheetPlist</key>
		<string>computerLevel</string>
	</dict>
	<key>retroZombieAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0</string>
		<key>group</key>
		<string>level7</string>
		<key>looping</key>
		<string>false</string>
		<key>sequencePrefix</key>
		<string>Retro_Zombie_</string>
		<key>spritesheetPlist</key>
		<string>computerLevel</string>
	</dict>
	<key>retroZombieStatic</key>
	<dict>
		<key>animationFrames</key>
		<string>1</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.2</string>
		<key>group</key>
		<string>level7</string>
		<key>looping</key>
		<string>false</string>
		<key>sequencePrefix</key>
		<string>Retro_Zombie_</string>
		<key>spritesheetPlist</key>
		<string>computerLevel</string>
	</dict>
	<key>retroBirdAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.1</string>
		<key>group</key>
		<string>level7</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Retro_Bird_</string>
		<key>spritesheetPlist</key>
		<string>computerLevel</string>
	</dict>
	<key>dancinManAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.2</string>
		<key>group</key>
		<string>level4</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Disco_Dancer_</string>
		<key>spritesheetPlist</key>
		<string>discoLevel</string>
	</dict>
	<key>dancinManDied</key>
	<dict>
		<key>animationFrames</key>
		<string>1</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.2</string>
		<key>group</key>
		<string>level4</string>
		<key>looping</key>
		<string>fale</string>
		<key>sequencePrefix</key>
		<string>Disco_Dancer_Hit_</string>
		<key>spritesheetPlist</key>
		<string>discoLevel</string>
	</dict>
	<key>discoDancersAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,2</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.15</string>
		<key>group</key>
		<string>level4</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Disco_DancingAnimation_Key0</string>
		<key>spritesheetPlist</key>
		<string>discoLevel</string>
	</dict>
	<key>dodgingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>2,3,4,5,2,3,4,5,2,3,4,5</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.17</string>
		<key>group</key>
		<string>dodge</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>dodge_</string>
		<key>spritesheetPlist</key>
		<string>characterAnims</string>
	</dict>
	<key>eightBitRunningAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9,10</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<real>0.075</real>
		<key>group</key>
		<string>level7</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Character_Running_</string>
		<key>spritesheetPlist</key>
		<string>eightBitTim</string>
	</dict>
	<key>fallingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.075</string>
		<key>group</key>
		<string>player</string>
		<key>looping</key>
		<string>false</string>
		<key>sequencePrefix</key>
		<string>character_falling_</string>
		<key>spritesheetPlist</key>
		<string>characterAnims</string>
	</dict>
	<key>femaleBkgDancerAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,2</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.15</string>
		<key>group</key>
		<string>level4</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>FemaleDancer_</string>
		<key>spritesheetPlist</key>
		<string>discoLevel</string>
	</dict>
	<key>femaleBreakdancerRedAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.15</string>
		<key>group</key>
		<string>level4</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Disco_BreakDancer_Red_</string>
		<key>spritesheetPlist</key>
		<string>discoLevel</string>
	</dict>
	<key>femaleBreakdancerBlueAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.15</string>
		<key>group</key>
		<string>level4</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Disco_BreakDancer_Blue_</string>
		<key>spritesheetPlist</key>
		<string>disco_level</string>
	</dict>
	<key>femaleHeadlessZombieAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.15</string>
		<key>group</key>
		<string>level6</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>FWH_Zombie_Walking_</string>
		<key>spritesheetPlist</key>
		<string>female_zombie</string>
	</dict>
	<key>femaleZombieAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.15</string>
		<key>group</key>
		<string>level6</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>F_Zombie_Walking_</string>
		<key>spritesheetPlist</key>
		<string>female_zombie</string>
	</dict>
	<key>fireDemonAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,2</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.2</string>
		<key>group</key>
		<string>level8</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>FireD_</string>
		<key>spritesheetPlist</key>
		<string>fireLevel</string>
	</dict>
	<key>fireballMovingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.1</string>
		<key>group</key>
		<string>level8</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Fireball_</string>
		<key>spritesheetPlist</key>
		<string>fireLevel</string>
	</dict>
	<key>fireballLandingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>3,4,5,5,5,5</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.1</string>
		<key>group</key>
		<string>level8</string>
		<key>looping</key>
		<string>false</string>
		<key>sequencePrefix</key>
		<string>Fireball_</string>
		<key>spritesheetPlist</key>
		<string>fireLevel</string>
	</dict>
	<key>fireBullet</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.075</string>
		<key>group</key>
		<string>level8</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>FireDShield_Bullet_</string>
		<key>spritesheetPlist</key>
		<string>fireLevel</string>
	</dict>
	<key>fireBabyDemonAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.1</string>
		<key>group</key>
		<string>level8</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Fire_BabyFireDemon_</string>
		<key>spritesheetPlist</key>
		<string>fireLevel</string>
	</dict>
	<key>fireDemonWithArmorWalking</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,2</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.2</string>
		<key>group</key>
		<string>level8</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>FireDShield_</string>
		<key>spritesheetPlist</key>
		<string>fireLevel</string>
	</dict>
	<key>fireDemonWithArmorShooting</key>
	<dict>
		<key>animationFrames</key>
		<string>4,5,6,7</string>
		<key>clearPreviousAnims</key>
		<string>false</string>
		<key>delay</key>
		<string>0.1</string>
		<key>group</key>
		<string>level8</string>
		<key>looping</key>
		<string>false</string>
		<key>sequencePrefix</key>
		<string>FireDShield_</string>
		<key>spritesheetPlist</key>
		<string>fireLevel</string>
	</dict>
	<key>blowingWindAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.065</string>
		<key>group</key>
		<string>blow</string>
		<key>looping</key>
		<string>false</string>
		<key>sequencePrefix</key>
		<string>BlowingWind_</string>
		<key>spritesheetPlist</key>
		<string>characterBlowing</string>
	</dict>
	<key>blowingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,1,1,2,2,2,2,2,2,2,2,2</string>
		<key>clearPreviousAnims</key>
		<string>false</string>
		<key>delay</key>
		<string>0.065</string>
		<key>group</key>
		<string>blow</string>
		<key>looping</key>
		<string>false</string>
		<key>sequencePrefix</key>
		<string>Character_Blowing_</string>
		<key>spritesheetPlist</key>
		<string>characterBlowing</string>
	</dict>
	<key>headlessZombieAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.075</string>
		<key>group</key>
		<string>level6</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>FWH2_Zombie_Walking_</string>
		<key>spritesheetPlist</key>
		<string>female_zombie</string>
	</dict>
	<key>henIdle</key>
	<dict>
		<key>animationFrames</key>
		<string>1</string>
		<key>clearPreviousAnims</key>
		<string>false</string>
		<key>delay</key>
		<string>0.04</string>
		<key>group</key>
		<string>level2</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Barn_Hen_Idle_</string>
		<key>spritesheetPlist</key>
		<string>barnLevel</string>
	</dict>
	<key>henKicked</key>
	<dict>
		<key>animationFrames</key>
		<string>1</string>
		<key>clearPreviousAnims</key>
		<string>false</string>
		<key>delay</key>
		<string>1.0</string>
		<key>group</key>
		<string>level2</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Barn_Hen_Kicked_</string>
		<key>spritesheetPlist</key>
		<string>barnLevel</string>
	</dict>
	<key>hurtAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,1,1</string>
		<key>clearPreviousAnims</key>
		<string>false</string>
		<key>delay</key>
		<string>0.075</string>
		<key>group</key>
		<string>player</string>
		<key>looping</key>
		<string>false</string>
		<key>sequencePrefix</key>
		<string>Character_Hurting_</string>
		<key>spritesheetPlist</key>
		<string>characterAnims</string>
	</dict>
	<key>jumpingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.1</string>
		<key>group</key>
		<string>player</string>
		<key>looping</key>
		<string>false</string>
		<key>sequencePrefix</key>
		<string>character_jumping_</string>
		<key>spritesheetPlist</key>
		<string>characterAnims</string>
	</dict>
	<key>kickingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,3</string>
		<key>clearPreviousAnims</key>
		<string>false</string>
		<key>delay</key>
		<string>0.1</string>
		<key>group</key>
		<string>kick</string>
		<key>looping</key>
		<string>false</string>
		<key>sequencePrefix</key>
		<string>character_kicking_</string>
		<key>spritesheetPlist</key>
		<string>characterAnims</string>
	</dict>
	<key>largeTimer</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9,10,11</string>
		<key>clearPreviousAnims</key>
		<string>false</string>
		<key>delay</key>
		<string>0.075</string>
		<key>group</key>
		<string>hud</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Large_</string>
		<key>spritesheetPlist</key>
		<string>hudGraphics2</string>
	</dict>
	<key>maleBkgDancerAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,2</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.15</string>
		<key>group</key>
		<string>level4</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>MaleDancer_</string>
		<key>spritesheetPlist</key>
		<string>discoLevel</string>
	</dict>
	<key>pigAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.075</string>
		<key>group</key>
		<string>level2</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Barn_Pig_</string>
		<key>spritesheetPlist</key>
		<string>barnLevel</string>
	</dict>
	<key>crowAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.075</string>
		<key>group</key>
		<string>level3</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Town_Bird_</string>
		<key>spritesheetPlist</key>
		<string>townLevel</string>
	</dict>
	<key>retroCrowAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.075</string>
		<key>group</key>
		<string>level7</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Retro_Bird_</string>
		<key>spritesheetPlist</key>
		<string>computerLevel</string>
	</dict>
	<key>blockingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,3,3,3,3,3,4,5</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.075</string>
		<key>group</key>
		<string>level7</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Blocking_</string>
		<key>spritesheetPlist</key>
		<string>computerLevel</string>
	</dict>
	<key>runningAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9,10</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<real>0.075</real>
		<key>group</key>
		<string>player</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Character_Running_</string>
		<key>spritesheetPlist</key>
		<string>characterAnims</string>
	</dict>
	<key>shootingAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.1</string>
		<key>group</key>
		<string>shoot</string>
		<key>looping</key>
		<string>false</string>
		<key>sequencePrefix</key>
		<string>Character_Shooting_</string>
		<key>spritesheetPlist</key>
		<string>characterAnims</string>
	</dict>
	<key>smallTimer</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9,10</string>
		<key>clearPreviousAnims</key>
		<string>false</string>
		<key>delay</key>
		<string>0.075</string>
		<key>group</key>
		<string>hud</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Small_</string>
		<key>spritesheetPlist</key>
		<string>hudGraphics2</string>
	</dict>
	<key>battery</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5</string>
		<key>clearPreviousAnims</key>
		<string>false</string>
		<key>delay</key>
		<string>0.075</string>
		<key>group</key>
		<string>hud</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Battery_</string>
		<key>spritesheetPlist</key>
		<string>hudGraphics2</string>
	</dict>
	<key>trippedAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,4,5</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.075</string>
		<key>group</key>
		<string>player</string>
		<key>looping</key>
		<string>false</string>
		<key>sequencePrefix</key>
		<string>Character_Tumble_</string>
		<key>spritesheetPlist</key>
		<string>characterAnims</string>
	</dict>
	<key>turboAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9,10</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.075</string>
		<key>group</key>
		<string>player</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>Character_Turbo_</string>
		<key>spritesheetPlist</key>
		<string>characterAnims</string>
	</dict>
	<key>tvAnimationAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9,10</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.075</string>
		<key>group</key>
		<string>level4</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>tv_</string>
		<key>spritesheetPlist</key>
		<string>discoLevel</string>
	</dict>
	<key>wooAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2,3,4,5,6,7,8,9,10</string>
		<key>clearPreviousAnims</key>
		<string>false</string>
		<key>delay</key>
		<real>0.075</real>
		<key>group</key>
		<string>woo</string>
		<key>looping</key>
		<string>false</string>
		<key>sequencePrefix</key>
		<string>Character_Woo_</string>
		<key>spritesheetPlist</key>
		<string>characterAnims</string>
	</dict>
	<key>dogAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>1,2</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.075</string>
		<key>group</key>
		<string>level5</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>City_Puppy_</string>
		<key>spritesheetPlist</key>
		<string>cityLevel</string>
	</dict>
	<key>madDogAnim</key>
	<dict>
		<key>animationFrames</key>
		<string>3,4,5</string>
		<key>clearPreviousAnims</key>
		<string>true</string>
		<key>delay</key>
		<string>0.075</string>
		<key>group</key>
		<string>level5</string>
		<key>looping</key>
		<string>true</string>
		<key>sequencePrefix</key>
		<string>City_Puppy_</string>
		<key>spritesheetPlist</key>
		<string>cityLevel</string>
	</dict>
</dict>
</plist>
