<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>group1</key>
	<dict>
		<key>count</key>
		<string>4</string>
		<key>name</key>
		<string>Xecudev</string>
		<key>1</key>
		<string>Executive Producer:Jeff Koehler</string>
		<key>2</key>
		<string>Lead Programmer:Brian Cable</string>
		<key>3</key>
		<string>Programmer/Level Design:Yang Song</string>
		<key>4</key>
		<string>Game Artist:Tianyu Wang</string>
	</dict>
	<key>group2</key>
	<dict>
		<key>count</key>
		<string>12</string>
		<key>name</key>
		<string>Special Thanks</string>
		<key>1</key>
		<string>Story:Dan Stuckey</string>
		<key>2</key>
		<string>Music:Sam Stuckey</string>
		<key>3</key>
		<string>Tim:Tim Skerrett</string>
		<key>4</key>
		<string>Additional Programming:Dustin Werner</string>
		<key>5</key>
		<string>Testers:Nina Koehler,Kevin Skerrett,Austin Clark,Brett Harbaugh-Clark,Michelle Lewinski,Mike Lewinski</string>
	</dict>
</dict>
</plist>
