<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>level1</key>
	<dict>
		<key>preComic</key>
		<string>intro</string>
		<key>thirdAction</key>
		<string>woo</string>
		<key>music</key>
		<string>track</string>
		<key>postLevelComic</key>
		<string>level1</string>
		<key>playerOffsetY</key>
		<integer>-9</integer>
		<key>fileName</key>
		<string>level1.tmx</string>
		<key>obstacleLayer</key>
		<string>front3</string>
		<key>nextLevelName</key>
		<string>level2</string>
		<key>layerList</key>
		<string>background-99,back-5,back-4,back-2,back-1,main0,actives,front1,front2,front3,meta</string>
	</dict>
	<key>level2</key>
	<dict>
		<key>preComic</key>
		<string>level1</string>
		<key>thirdAction</key>
		<string>kick</string>
		<key>music</key>
		<string>barn</string>
		<key>postLevelComic</key>
		<string>level2</string>
		<key>playerOffsetY</key>
		<integer>-9</integer>
		<key>fileName</key>
		<string>level2.tmx</string>
		<key>obstacleLayer</key>
		<string>front3</string>
		<key>nextLevelName</key>
		<string>level3</string>
		<key>layerList</key>
		<string>back-1,main0,actives,front2,front3,meta</string>
	</dict>
	<key>level3</key>
	<dict>
		<key>preComic</key>
		<string>level3</string>
		<key>thirdAction</key>
		<string>woo</string>
		<key>music</key>
		<string>cornfields</string>
		<key>postLevelComic</key>
		<string>level3</string>
		<key>playerOffsetY</key>
		<integer>-9</integer>
		<key>fileName</key>
		<string>level3.tmx</string>
		<key>obstacleLayer</key>
		<string>front2</string>
		<key>nextLevelName</key>
		<string>level4</string>
		<key>layerList</key>
		<string>back-8,back-7,back-6,back-5,back-4,back-3,main0,actives,front1,front2,meta</string>
	</dict>
	<key>level4</key>
	<dict>
		<key>preComic</key>
		<string>level3</string>
		<key>thirdAction</key>
		<string>dodge</string>
		<key>music</key>
		<string>disco</string>
		<key>postLevelComic</key>
		<string>level4</string>
		<key>playerOffsetY</key>
		<integer>-9</integer>
		<key>fileName</key>
		<string>level4.tmx</string>
		<key>obstacleLayer</key>
		<string>objects</string>
		<key>nextLevelName</key>
		<string>level5</string>
		<key>layerList</key>
		<string>back-3,back-2,back-1,main0,ledges,actives,front-1,front-2,meta</string>
	</dict>
	<key>level5</key>
	<dict>
		<key>preComic</key>
		<string>level4</string>
		<key>thirdAction</key>
		<string>woo</string>
		<key>music</key>
		<string>city</string>
		<key>postLevelComic</key>
		<string>level5</string>
		<key>playerOffsetY</key>
		<integer>-9</integer>
		<key>fileName</key>
		<string>level5.tmx</string>
		<key>obstacleLayer</key>
		<string>objects</string>
		<key>nextLevelName</key>
		<string>level6</string>
		<key>layerList</key>
		<string>back-5,back-4,back-3,back-2,back-1,main0,ledges,actives,front-1,meta</string>
	</dict>
	<key>level6</key>
	<dict>
		<key>preComic</key>
		<string>level5</string>
		<key>boss</key>
		<string>zombies</string>
		<key>thirdAction</key>
		<string>shoot</string>
		<key>music</key>
		<string>zombies</string>
		<key>postLevelComic</key>
		<string>level6</string>
		<key>playerOffsetY</key>
		<integer>-9</integer>
		<key>fileName</key>
		<string>level6.tmx</string>
		<key>obstacleLayer</key>
		<string>objects</string>
		<key>nextLevelName</key>
		<string>level7</string>
		<key>layerList</key>
		<string>back-5,back-4,back-3,back-2,back-1,main0,ledges,actives,front-1,meta</string>
	</dict>
	<key>level7</key>
	<dict>
		<key>preComic</key>
		<string>level6</string>
		<key>thirdAction</key>
		<string>block</string>
		<key>music</key>
		<string>computer</string>
		<key>postLevelComic</key>
		<string>level7</string>
		<key>worldType</key>
		<string>realWorld</string>
		<key>playerOffsetY</key>
		<integer>0</integer>
		<key>fileName</key>
		<string>level7.tmx</string>
		<key>obstacleLayer</key>
		<string>objects</string>
		<key>nextLevelName</key>
		<string>level8</string>
		<key>layerList</key>
		<string>back-4,back-3,back-2,back-1,main0,actives,front-1,meta</string>
	</dict>
	<key>level8</key>
	<dict>
		<key>preComic</key>
		<string>level7</string>
		<key>thirdAction</key>
		<string>blow</string>
		<key>music</key>
		<string>fire</string>
		<key>postLevelComic</key>
		<string>level8</string>
		<key>playerOffsetY</key>
		<integer>-9</integer>
		<key>fileName</key>
		<string>level8.tmx</string>
		<key>obstacleLayer</key>
		<string>objects</string>
		<key>nextLevelName</key>
		<string>level9</string>
		<key>layerList</key>
		<string>back-3,back-2,back-1,main0,pits,ledges,actives,front-1,meta</string>
	</dict>
	<key>level9</key>
	<dict>
		<key>preComic</key>
		<string>level8</string>
		<key>thirdAction</key>
		<string>woo</string>
		<key>music</key>
		<string>rainy</string>
		<key>postLevelComic</key>
		<string>endGame</string>
		<key>playerOffsetY</key>
		<integer>-9</integer>
		<key>fileName</key>
		<string>level9.tmx</string>
		<key>obstacleLayer</key>
		<string>objects</string>
		<key>nextLevelName</key>
		<string>endGame</string>
		<key>layerList</key>
		<string>back-1,main0,ledges,actives,front-1,meta</string>
	</dict>
	<key>level10</key>
	<dict>
		<key>preComic</key>
		<string>level9</string>
		<key>thirdAction</key>
		<string>spin</string>
		<key>music</key>
		<string>underwater</string>
		<key>postLevelComic</key>
		<string>level10</string>
		<key>playerOffsetY</key>
		<integer>-9</integer>
		<key>fileName</key>
		<string>level10.tmx</string>
		<key>obstacleLayer</key>
		<string>objects</string>
		<key>nextLevelName</key>
		<string>level11</string>
		<key>layerList</key>
		<string>back-2,back-1,main0,pits,ledges,actives,front-1,meta</string>
	</dict>
	<key>level11</key>
	<dict>
		<key>preComic</key>
		<string>level10</string>
		<key>thirdAction</key>
		<string>slowtime</string>
		<key>music</key>
		<string>darkness</string>
		<key>postLevelComic</key>
		<string>endGame</string>
		<key>playerOffsetY</key>
		<integer>-9</integer>
		<key>fileName</key>
		<string>level11.tmx</string>
		<key>obstacleLayer</key>
		<string>objects</string>
		<key>nextLevelName</key>
		<string>endGame</string>
		<key>layerList</key>
		<string>back-2,back-1,main0,ledges,actives,front-1,front-2,meta</string>
	</dict>
	<key>startingLevel</key>
	<string>dummyLevel</string>
</dict>
</plist>
