<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>track</key>
	<string>track.aifc</string>
	<key>barn</key>
	<string>barn.aifc</string>
	<key>cornfields</key>
	<string>town.aifc</string>
	<key>disco</key>
	<string>disco.aifc</string>
	<key>computer</key>
	<string>computer.aifc</string>
	<key>city</key>
	<string>city.aifc</string>
	<key>zombies</key>
	<string>zombies.aifc</string>
	<key>fire</key>
	<string>fire.aifc</string>
	<key>title</key>
	<string>title.aifc</string>
	<key>credits</key>
	<string>credits.aifc</string>
	<key>cutscene</key>
	<string>cutscene.aifc</string>
	<key>rainy</key>
	<string>rainy.aifc</string>
	<key>darkness</key>
	<string>darkness.aifc</string>
	<key>underwater</key>
	<string>underwater.aifc</string>
	<key>training</key>
	<string>training.aifc</string>
	<key>dojo</key>
	<string>dojo.aifc</string>
</dict>
</plist>
