<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bighurdle</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>width</key>
			<integer>14</integer>
			<key>x</key>
			<integer>20</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>collideBehavior</key>
		<string>falls</string>
		<key>imageName</key>
		<string>Track_BigHurdle_1.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-45</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>smallHurdle</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>15</integer>
			<key>width</key>
			<integer>15</integer>
			<key>x</key>
			<integer>20</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>collideBehavior</key>
		<string>falls</string>
		<key>imageName</key>
		<string>Track_SmallHurdle_1.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-45</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>jimSpaceShip</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.5</real>
		</dict>
		<key>animationName</key>
		<string>jimSpaceshipAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>1</integer>
			<key>width</key>
			<integer>1</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>collideBehavior</key>
		<string>bossShip</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>0</integer>
		<key>playerEffect</key>
		<string>none</string>
	</dict>
	<key>cow</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>cowIdle</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>57</integer>
			<key>width</key>
			<integer>42</integer>
			<key>x</key>
			<integer>90</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>collideBehavior</key>
		<string>cowCollapse</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-45</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>dancinMan</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>dancinManAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>110</integer>
			<key>width</key>
			<integer>60</integer>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>-30</integer>
		</dict>
		<key>collideBehavior</key>
		<string>dancinManCollapse</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-59</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>discoDancers</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.5</real>
		</dict>
		<key>animationName</key>
		<string>discoDancersAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>1</integer>
			<key>width</key>
			<integer>1</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>collideBehavior</key>
		<string>none</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-18</integer>
		<key>playerEffect</key>
		<string>none</string>
	</dict>
	<key>femaleBkgDancer</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.5</real>
		</dict>
		<key>animationName</key>
		<string>femaleBkgDancerAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>1</integer>
			<key>width</key>
			<integer>1</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>collideBehavior</key>
		<string>none</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-5</integer>
		<key>playerEffect</key>
		<string>none</string>
	</dict>
	<key>femaleBreakdancerRed</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.5</real>
		</dict>
		<key>animationName</key>
		<string>femaleBreakdancerRedAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>35</integer>
			<key>width</key>
			<integer>30</integer>
			<key>x</key>
			<integer>30</integer>
			<key>y</key>
			<integer>50</integer>
		</dict>
		<key>collideBehavior</key>
		<string>chargeAtPlayer</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>5</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>femaleBreakdancerBlue</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.5</real>
		</dict>
		<key>animationName</key>
		<string>femaleBreakdancerBlueAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>35</integer>
			<key>width</key>
			<integer>30</integer>
			<key>x</key>
			<integer>30</integer>
			<key>y</key>
			<integer>50</integer>
		</dict>
		<key>collideBehavior</key>
		<string>chargeAtPlayerFast</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>5</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>femaleZombie</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>femaleZombieAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>60</integer>
			<key>width</key>
			<integer>40</integer>
			<key>x</key>
			<integer>20</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>collideBehavior</key>
		<string>zombie</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-40</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>retroZombie</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>retroZombieStatic</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>width</key>
			<integer>25</integer>
			<key>x</key>
			<integer>20</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>collideBehavior</key>
		<string>retroZombie</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-40</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>garbage</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>width</key>
			<integer>14</integer>
			<key>x</key>
			<integer>50</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>collideBehavior</key>
		<string>falls</string>
		<key>imageName</key>
		<string>City_Garbage_1.png</string>
		<key>offsetx</key>
		<integer>90</integer>
		<key>offsety</key>
		<integer>-47</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>retroGarbage</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>retroGarbageAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>width</key>
			<integer>14</integer>
			<key>x</key>
			<integer>35</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>collideBehavior</key>
		<string>falls</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-30</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>garbageZombie</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>width</key>
			<integer>14</integer>
			<key>x</key>
			<integer>50</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>collideBehavior</key>
		<string>falls</string>
		<key>imageName</key>
		<string>Zombies_Garbage.png</string>
		<key>offsetx</key>
		<integer>90</integer>
		<key>offsety</key>
		<integer>-44</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>haybale</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>townHaybaleAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>40</integer>
			<key>width</key>
			<integer>15</integer>
			<key>x</key>
			<integer>35</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>collideBehavior</key>
		<string>falls</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-45</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>haybaleSmall</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>townHaybaleSmaillAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>15</integer>
			<key>width</key>
			<integer>15</integer>
			<key>x</key>
			<integer>35</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>collideBehavior</key>
		<string>falls</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-45</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>fireBabyDemon</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>fireBabyDemonAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>15</integer>
			<key>width</key>
			<integer>15</integer>
			<key>x</key>
			<integer>35</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>collideBehavior</key>
		<string>falls</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-45</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>haybaleRolling</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>animationName</key>
		<string>townRollingHayAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>25</integer>
			<key>width</key>
			<integer>14</integer>
			<key>x</key>
			<integer>20</integer>
			<key>y</key>
			<integer>60</integer>
		</dict>
		<key>collideBehavior</key>
		<string>rolling</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>20</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>headlessZombie</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>headlessZombieAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>width</key>
			<integer>15</integer>
			<key>x</key>
			<integer>-50</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>collideBehavior</key>
		<string>headless</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-40</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>fireDemon</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>fireDemonAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>40</integer>
			<key>width</key>
			<integer>15</integer>
			<key>x</key>
			<integer>-50</integer>
			<key>y</key>
			<integer>-10</integer>
		</dict>
		<key>collideBehavior</key>
		<string>fireDemon</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-40</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>fireball</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>fireballMovingAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>width</key>
			<integer>15</integer>
			<key>x</key>
			<integer>-50</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>collideBehavior</key>
		<string>fireball</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-40</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>fireDemonWithArmor</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>fireDemonWithArmorWalking</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>45</integer>
			<key>width</key>
			<integer>15</integer>
			<key>x</key>
			<integer>-50</integer>
			<key>y</key>
			<integer>10</integer>
		</dict>
		<key>collideBehavior</key>
		<string>fireDemonWithArmor</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-40</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>dog</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>dogAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>width</key>
			<integer>25</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>collideBehavior</key>
		<string>static</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-30</integer>
		<key>playerEffect</key>
		<string>none</string>
	</dict>
	<key>madDog</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>dogAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>20</integer>
			<key>width</key>
			<integer>25</integer>
			<key>x</key>
			<integer>-10</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>collideBehavior</key>
		<string>madDog</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-30</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>hen</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>henIdle</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>width</key>
			<integer>20</integer>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>25</integer>
		</dict>
		<key>collideBehavior</key>
		<string>kicked</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-35</integer>
		<key>playerEffect</key>
		<string>actionOrCollide</string>
	</dict>
	<key>hurdle</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>25</integer>
			<key>width</key>
			<integer>14</integer>
			<key>x</key>
			<integer>20</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>collideBehavior</key>
		<string>falls</string>
		<key>imageName</key>
		<string>Track_MediumHurdle_1.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-45</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>retroHurdle</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>retroHurdleAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>width</key>
			<integer>14</integer>
			<key>x</key>
			<integer>20</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>collideBehavior</key>
		<string>falls</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-35</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>jimBarn</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>1</integer>
			<key>width</key>
			<integer>1</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>collideBehavior</key>
		<string>static</string>
		<key>imageName</key>
		<string>Barn_Jim_1.png</string>
		<key>offsetx</key>
		<integer>-64</integer>
		<key>offsety</key>
		<integer>-55</integer>
		<key>playerEffect</key>
		<string>slow</string>
	</dict>
	<key>jimCornfields</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>townJimAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>1</integer>
			<key>width</key>
			<integer>1</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>collideBehavior</key>
		<string>static</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>-64</integer>
		<key>offsety</key>
		<integer>-55</integer>
		<key>playerEffect</key>
		<string>slow</string>
	</dict>
	<key>leafpile</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>townLeafpileAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>15</integer>
			<key>width</key>
			<integer>87</integer>
			<key>x</key>
			<integer>-12</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>collideBehavior</key>
		<string>static</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>-64</integer>
		<key>offsety</key>
		<integer>-45</integer>
		<key>playerEffect</key>
		<string>slow</string>
	</dict>
	<key>lighting</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>10</integer>
			<key>width</key>
			<integer>10</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>collideBehavior</key>
		<string>none</string>
		<key>imageName</key>
		<string>disco_light_1.png,disco_light_2.png,disco_light_3.png,disco_light_4.png</string>
		<key>offsetx</key>
		<integer>5</integer>
		<key>offsety</key>
		<integer>30</integer>
		<key>playerEffect</key>
		<string>none</string>
	</dict>
	<key>maleBkgDancer</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.5</real>
		</dict>
		<key>animationName</key>
		<string>maleBkgDancerAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>1</integer>
			<key>width</key>
			<integer>1</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>collideBehavior</key>
		<string>none</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-5</integer>
		<key>playerEffect</key>
		<string>none</string>
	</dict>
	<key>manure</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>15</integer>
			<key>width</key>
			<integer>87</integer>
			<key>x</key>
			<integer>-12</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>collideBehavior</key>
		<string>static</string>
		<key>imageName</key>
		<string>Barn_Poop_1.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-45</integer>
		<key>playerEffect</key>
		<string>slow</string>
	</dict>
	<key>pig</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.5</real>
		</dict>
		<key>animationName</key>
		<string>pigAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>width</key>
			<integer>35</integer>
			<key>x</key>
			<integer>25</integer>
			<key>y</key>
			<integer>25</integer>
		</dict>
		<key>collideBehavior</key>
		<string>chargeAtPlayer</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-8</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>retroPig</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.5</real>
		</dict>
		<key>animationName</key>
		<string>retroPigAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>20</integer>
			<key>width</key>
			<integer>35</integer>
			<key>x</key>
			<integer>25</integer>
			<key>y</key>
			<integer>25</integer>
		</dict>
		<key>collideBehavior</key>
		<string>chargeAtPlayer</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-3</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>crow</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.5</real>
		</dict>
		<key>animationName</key>
		<string>crowAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>55</integer>
			<key>width</key>
			<integer>35</integer>
			<key>x</key>
			<integer>25</integer>
			<key>y</key>
			<integer>40</integer>
		</dict>
		<key>collideBehavior</key>
		<string>flyer</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>135</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>retroCrow</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.5</real>
		</dict>
		<key>animationName</key>
		<string>retroCrowAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>55</integer>
			<key>width</key>
			<integer>35</integer>
			<key>x</key>
			<integer>25</integer>
			<key>y</key>
			<integer>40</integer>
		</dict>
		<key>collideBehavior</key>
		<string>flyer</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>135</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>rainyTreeA</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.5</real>
		</dict>
		<key>animationName</key>
		<string>rainyTreeAIdleAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>0</integer>
			<key>width</key>
			<integer>0</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>collideBehavior</key>
		<string>rainyTreeA</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>30</integer>
		<key>playerEffect</key>
		<string>none</string>
	</dict>
	<key>rainyTreeB</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.5</real>
		</dict>
		<key>animationName</key>
		<string>rainyTreeBIdleAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>0</integer>
			<key>width</key>
			<integer>0</integer>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
		</dict>
		<key>collideBehavior</key>
		<string>rainyTreeB</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>30</integer>
		<key>playerEffect</key>
		<string>none</string>
	</dict>
	<key>player</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>100</integer>
			<key>width</key>
			<integer>32</integer>
			<key>x</key>
			<integer>20</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>0</integer>
	</dict>
	<key>sandpit</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>15</integer>
			<key>width</key>
			<integer>87</integer>
			<key>x</key>
			<integer>-12</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>collideBehavior</key>
		<string>static</string>
		<key>imageName</key>
		<string>Track_Sandpit_1.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-45</integer>
		<key>playerEffect</key>
		<string>slow</string>
	</dict>
	<key>VolcanoBBQLarge</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>15</integer>
			<key>width</key>
			<integer>87</integer>
			<key>x</key>
			<integer>-12</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>collideBehavior</key>
		<string>static</string>
		<key>imageName</key>
		<string>Fire_VolcanoBBQ_Large.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-45</integer>
		<key>playerEffect</key>
		<string>slow</string>
	</dict>
	<key>VolcanoBBQSmall</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>15</integer>
			<key>width</key>
			<integer>87</integer>
			<key>x</key>
			<integer>-12</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>collideBehavior</key>
		<string>static</string>
		<key>imageName</key>
		<string>Fire_VolcanoBBQ_Small.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-45</integer>
		<key>playerEffect</key>
		<string>slow</string>
	</dict>
	<key>sewerWater</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>15</integer>
			<key>width</key>
			<integer>87</integer>
			<key>x</key>
			<integer>-25</integer>
			<key>y</key>
			<integer>-22</integer>
		</dict>
		<key>collideBehavior</key>
		<string>static</string>
		<key>imageName</key>
		<string>City_Water_1.png</string>
		<key>offsetx</key>
		<integer>-60</integer>
		<key>offsety</key>
		<integer>-63</integer>
		<key>playerEffect</key>
		<string>slow</string>
	</dict>
	<key>spilledDrink</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>15</integer>
			<key>width</key>
			<integer>87</integer>
			<key>x</key>
			<integer>-12</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>collideBehavior</key>
		<string>static</string>
		<key>imageName</key>
		<string>Disco_SpilledDrink_1.png</string>
		<key>offsetx</key>
		<integer>-64</integer>
		<key>offsety</key>
		<integer>-52</integer>
		<key>playerEffect</key>
		<string>slow</string>
	</dict>
	<key>checkpoint</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>15</integer>
			<key>width</key>
			<integer>87</integer>
			<key>x</key>
			<integer>-12</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>collideBehavior</key>
		<string>none</string>
		<key>imageName</key>
		<string>Checkpoint_1.png</string>
		<key>offsetx</key>
		<integer>-64</integer>
		<key>offsety</key>
		<integer>-20</integer>
		<key>playerEffect</key>
		<string>slow</string>
	</dict>
	<key>checkpoint8bit</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>15</integer>
			<key>width</key>
			<integer>87</integer>
			<key>x</key>
			<integer>-12</integer>
			<key>y</key>
			<integer>2</integer>
		</dict>
		<key>collideBehavior</key>
		<string>none</string>
		<key>imageName</key>
		<string>Retro_WaterTable_1.png</string>
		<key>offsetx</key>
		<integer>-64</integer>
		<key>offsety</key>
		<integer>-20</integer>
		<key>playerEffect</key>
		<string>slow</string>
	</dict>
	<key>stoneChicken</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>width</key>
			<integer>20</integer>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>25</integer>
		</dict>
		<key>collideBehavior</key>
		<string>falls</string>
		<key>imageName</key>
		<string>Barn_Stone_Chicken_1.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-35</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>rainyFrog</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>rainyFrogIdleAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>width</key>
			<integer>20</integer>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>13</integer>
		</dict>
		<key>collideBehavior</key>
		<string>frogSquash</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-41</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>rainySquirrel</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>animationName</key>
		<string>rainySquirrelAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>width</key>
			<integer>20</integer>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>13</integer>
		</dict>
		<key>collideBehavior</key>
		<string>rainySquirrel</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-35</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>rainyUmbrellaFlyUp</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.6</real>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>width</key>
			<integer>20</integer>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>13</integer>
		</dict>
		<key>collideBehavior</key>
		<string>umbrellaFlyUp</string>
		<key>imageName</key>
		<string>Level9_Umbrella.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>20</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>rainyPaperPlane</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.6</real>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>width</key>
			<integer>20</integer>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>25</integer>
		</dict>
		<key>collideBehavior</key>
		<string>rainyPaperPlane</string>
		<key>imageName</key>
		<string>Level9_PaperPlane.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>150</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>darkBat</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.6</real>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>width</key>
			<integer>20</integer>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>25</integer>
		</dict>
		<key>collideBehavior</key>
		<string>rainyPaperPlane</string>
		<key>imageName</key>
		<string>Level9_PaperPlane.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>150</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>rainyUmbrellaFlyAcross</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.6</real>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>30</integer>
			<key>width</key>
			<integer>20</integer>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>43</integer>
		</dict>
		<key>collideBehavior</key>
		<string>umbrellaFlyAcross</string>
		<key>imageName</key>
		<string>Level9_Umbrella.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>10</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>waterBubbles</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.6</real>
		</dict>
		<key>animationName</key>
		<string>waterBubblesRAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>230</integer>
			<key>width</key>
			<integer>50</integer>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>43</integer>
		</dict>
		<key>collideBehavior</key>
		<string>none</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>10</integer>
		<key>playerEffect</key>
		<string>vaccuum</string>
	</dict>
	<key>waterBubbles2</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.6</real>
		</dict>
		<key>animationName</key>
		<string>waterBubblesLAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>230</integer>
			<key>width</key>
			<integer>50</integer>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>43</integer>
		</dict>
		<key>collideBehavior</key>
		<string>none</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>10</integer>
		<key>playerEffect</key>
		<string>none</string>
	</dict>
	<key>waterBubbles3</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.6</real>
		</dict>
		<key>animationName</key>
		<string>waterBubblesRAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>230</integer>
			<key>width</key>
			<integer>50</integer>
			<key>x</key>
			<integer>32</integer>
			<key>y</key>
			<integer>43</integer>
		</dict>
		<key>collideBehavior</key>
		<string>none</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>10</integer>
		<key>playerEffect</key>
		<string>none</string>
	</dict>
	<key>waterPufferFish</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.6</real>
		</dict>
		<key>animationName</key>
		<string>waterPufferFishAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>20</integer>
			<key>width</key>
			<integer>20</integer>
			<key>x</key>
			<integer>13</integer>
			<key>y</key>
			<integer>25</integer>
		</dict>
		<key>collideBehavior</key>
		<string>pufferfish</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-10</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>waterAnglerFish</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.6</real>
		</dict>
		<key>animationName</key>
		<string>waterAnglerFishAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>20</integer>
			<key>width</key>
			<integer>34</integer>
			<key>x</key>
			<integer>20</integer>
			<key>y</key>
			<integer>31</integer>
		</dict>
		<key>collideBehavior</key>
		<string>chargeAtPlayerSlow</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-10</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>waterSeaHorse</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.6</real>
		</dict>
		<key>animationName</key>
		<string>none</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>16</integer>
			<key>width</key>
			<integer>10</integer>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>19</integer>
		</dict>
		<key>collideBehavior</key>
		<string>seahorse</string>
		<key>imageName</key>
		<string>SeaHorse.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>-8</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>townCrow</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.5</real>
		</dict>
		<key>animationName</key>
		<string>townCrowAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>35</integer>
			<key>width</key>
			<integer>45</integer>
			<key>x</key>
			<integer>30</integer>
			<key>y</key>
			<integer>50</integer>
		</dict>
		<key>collideBehavior</key>
		<string>chargeAtPlayer</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>0</integer>
		<key>offsety</key>
		<integer>5</integer>
		<key>playerEffect</key>
		<string>collide</string>
	</dict>
	<key>tvAnimation</key>
	<dict>
		<key>aggressive</key>
		<string>false</string>
		<key>anchorpoint</key>
		<dict>
			<key>x</key>
			<real>0.5</real>
			<key>y</key>
			<real>0.5</real>
		</dict>
		<key>animationName</key>
		<string>tvAnimationAnim</string>
		<key>boundingBox</key>
		<dict>
			<key>height</key>
			<integer>1</integer>
			<key>width</key>
			<integer>1</integer>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
		</dict>
		<key>collideBehavior</key>
		<string>none</string>
		<key>imageName</key>
		<string>blank.png</string>
		<key>offsetx</key>
		<integer>20</integer>
		<key>offsety</key>
		<integer>-16</integer>
		<key>playerEffect</key>
		<string>none</string>
	</dict>
</dict>
</plist>
