<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jumpLand</key>
	<string>Footstep.caf</string>
	<key>turboStart</key>
	<string>Supercharge.caf</string>
	<key>dead</key>
	<string>UhOh.caf</string>
	<key>collision</key>
	<string>HurdleCollision.caf</string>
	<key>jumpStart</key>
	<string>Jump1.caf</string>
	<key>pause</key>
	<string>Pause.caf</string>
	<key>lowBattery</key>
	<string>LowBattery.caf</string>
	<key>batteryFullCharge</key>
	<string>BatteryFullCharge.caf</string>
	<key>error</key>
	<string>Error.caf</string>
	<key>henKicked</key>
	<string>hen_squawk.caf</string>
	<key>wooAction</key>
	<string>woo_action.caf</string>
	<key>cowDied</key>
	<string>cow_moo.caf</string>
	<key>menuPlayButton</key>
	<string>Craziness.caf</string>
	<key>timCollision</key>
	<string>timFell.caf</string>
	<key>timHurt</key>
	<string>hurt.caf</string>
	<key>steppedInSand</key>
	<string>sand_step.caf</string>
	<key>shootAction</key>
	<string>shotgun.caf</string>
	<key>zombieMoan</key>
	<string>zombie_moan.caf</string>
	<key>shootActionReload</key>
	<string>shotgun_reload.caf</string>
	<key>buttonPressed</key>
	<string>clearedObstacle.caf</string>
	<key>doubleJump</key>
	<string>doublejump.caf</string>
	<key>fallingDeath</key>
	<string>fallingDeath.caf</string>
	<key>checkpoint</key>
	<string>checkpoint.caf</string>
	<key>shield</key>
	<string>Shield.caf</string>
	<key>jimShipShoot</key>
	<string>JimShipShoot.caf</string>
	<key>deflected</key>
	<string>deflected.caf</string>
	<key>chooseSelection</key>
	<string>chooseSelection.caf</string>
	<key>shuffling</key>
	<string>shuffling.caf</string>
	<key>blowAction</key>
	<string>blowAction.caf</string>
	<key>crowAppears</key>
	<string>crow.caf</string>
	<key>maddogBark</key>
	<string>maddogBark.caf</string>
	<key>pigAppears</key>
	<string>pig.caf</string>
	<key>fireballLand</key>
	<string>fireballLand.caf</string>
	<key>jimShipCharge</key>
	<string>jimShipCharge.caf</string>
	<key>frogSquish</key>
	<string>frogSquish1.caf</string>
	<key>lightning</key>
	<string>lightning.caf</string>
	<key>windShort</key>
	<string>wind2_short.caf</string>
	<key>windMedium</key>
	<string>wind2_medium.caf</string>
	<key>windLong</key>
	<string>wind2_long.caf</string>
	<key>waterAnglerFish</key>
	<string>waterAnglerFish.caf</string>
	<key>waterBubbles</key>
	<string>waterBubbles.caf</string>
	<key>waterPufferFish</key>
	<string>waterPufferFish.caf</string>
	<key>waterSeaHorse</key>
	<string>waterSeaHorse.caf</string>
	<key>waterSwimAction</key>
	<string>waterSwimAction.caf</string>
	<key>darkBats</key>
	<string>darkBats.caf</string>
	<key>darkGargoyle</key>
	<string>darkGargoyle1.caf</string>
	<key>darkShadowLaugh</key>
	<string>darkShadowLaugh.caf</string>
	<key>darkSpikes</key>
	<string>darkSpikes.caf</string>
	<key>darkSlowTimeAction</key>
	<string>darkSlowTimeAction.caf</string>
	<key>selectOptionsMenu</key>
	<string>selectOptionsMenu.caf</string>
	<key>healthGained</key>
	<string>healthGained.caf</string>
</dict>
</plist>
