<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jumpLand</key>
	<string>Footstep.wav</string>
	<key>turboStart</key>
	<string>supersonic.wav</string>
	<key>dead</key>
	<string>UhOh.wav</string>
	<key>collision</key>
	<string>HurdleCollision.wav</string>
	<key>jumpStart</key>
	<string>Jump1.wav</string>
	<key>pause</key>
	<string>Pause.wav</string>
	<key>lowBattery</key>
	<string>LowBattery.wav</string>
	<key>batteryFullCharge</key>
	<string>BatteryFullCharge.wav</string>
	<key>error</key>
	<string>Error.wav</string>
	<key>henKicked</key>
	<string>hen_squawk.caf</string>
	<key>wooAction</key>
	<string>woo_action.caf</string>
	<key>cowDied</key>
	<string>cow_moo.caf</string>
	<key>menuPlayButton</key>
	<string>Craziness.wav</string>
	<key>timCollision</key>
	<string>tim_hit_something.caf</string>
	<key>timHurt</key>
	<string>hurt.caf</string>
	<key>steppedInSand</key>
	<string>sand_step.caf</string>
	<key>shootAction</key>
	<string>shotgun.caf</string>
	<key>zombieMoan</key>
	<string>zombie_moan.caf</string>
	<key>shootActionReload</key>
	<string>shotgun_reload.caf</string>
	<key>clearedObstacle</key>
	<string>clearedObstacle.wav</string>
	<key>doubleJump</key>
	<string>doublejump.wav</string>
	<key>fallingDeath</key>
	<string>fallingDeath.wav</string>
</dict>
</plist>
