<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>FireDShield_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {92, 105}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{92, 105}</string>
			<key>spriteSourceSize</key>
			<string>{106, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 217}, {92, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 0}, {98, 107}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{98, 107}</string>
			<key>spriteSourceSize</key>
			<string>{106, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 108}, {98, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {106, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{106, 107}</string>
			<key>spriteSourceSize</key>
			<string>{106, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{93, 0}, {106, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 2}, {92, 105}}</string>
			<key>spriteOffset</key>
			<string>{1, -1}</string>
			<key>spriteSize</key>
			<string>{92, 105}</string>
			<key>spriteSourceSize</key>
			<string>{106, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 216}, {92, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {94, 107}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{94, 107}</string>
			<key>spriteSourceSize</key>
			<string>{106, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{299, 0}, {94, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {104, 107}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{104, 107}</string>
			<key>spriteSourceSize</key>
			<string>{106, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{93, 108}, {104, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {94, 107}}</string>
			<key>spriteOffset</key>
			<string>{-5, -0}</string>
			<key>spriteSize</key>
			<string>{94, 107}</string>
			<key>spriteSourceSize</key>
			<string>{106, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{201, 0}, {94, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_Bullet_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {24, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{24, 23}</string>
			<key>spriteSourceSize</key>
			<string>{26, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 243}, {24, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_Bullet_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 23}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{26, 23}</string>
			<key>spriteSourceSize</key>
			<string>{26, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 217}, {26, 23}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_Bullet_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 5}, {20, 15}}</string>
			<key>spriteOffset</key>
			<string>{-2, -1}</string>
			<key>spriteSize</key>
			<string>{20, 15}</string>
			<key>spriteSourceSize</key>
			<string>{26, 23}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 268}, {20, 15}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireD_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 2}, {92, 105}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{92, 105}</string>
			<key>spriteSourceSize</key>
			<string>{106, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{181, 217}, {92, 105}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireD_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{8, 0}, {96, 107}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{96, 107}</string>
			<key>spriteSourceSize</key>
			<string>{106, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{396, 0}, {96, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireD_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {102, 107}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{102, 107}</string>
			<key>spriteSourceSize</key>
			<string>{106, 107}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{200, 108}, {102, 107}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire_VolcanoBBQ_Gas_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 13}, {4, 4}}</string>
			<key>spriteOffset</key>
			<string>{-5, -6}</string>
			<key>spriteSize</key>
			<string>{4, 4}</string>
			<key>spriteSourceSize</key>
			<string>{16, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{85, 152}, {4, 4}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire_VolcanoBBQ_Gas_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 8}, {8, 10}}</string>
			<key>spriteOffset</key>
			<string>{-3, -4}</string>
			<key>spriteSize</key>
			<string>{8, 10}</string>
			<key>spriteSourceSize</key>
			<string>{16, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{291, 306}, {8, 10}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire_VolcanoBBQ_Gas_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {14, 14}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{14, 14}</string>
			<key>spriteSourceSize</key>
			<string>{16, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 306}, {14, 14}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire_VolcanoBBQ_Gas_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {16, 18}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{16, 18}</string>
			<key>spriteSourceSize</key>
			<string>{16, 18}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 286}, {16, 18}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire_VolcanoBBQ_Large.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {91, 34}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{91, 34}</string>
			<key>spriteSourceSize</key>
			<string>{93, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{81, 324}, {91, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire_VolcanoBBQ_Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 6}, {89, 28}}</string>
			<key>spriteOffset</key>
			<string>{-1, -3}</string>
			<key>spriteSize</key>
			<string>{89, 28}</string>
			<key>spriteSourceSize</key>
			<string>{93, 34}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 115}, {89, 28}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {84, 87}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{84, 87}</string>
			<key>spriteSourceSize</key>
			<string>{86, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 152}, {84, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {80, 85}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{80, 85}</string>
			<key>spriteSourceSize</key>
			<string>{86, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 242}, {80, 85}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{22, 17}, {60, 71}}</string>
			<key>spriteOffset</key>
			<string>{9, -8}</string>
			<key>spriteSize</key>
			<string>{60, 71}</string>
			<key>spriteSourceSize</key>
			<string>{86, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{274, 323}, {60, 71}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{32, 38}, {52, 51}}</string>
			<key>spriteOffset</key>
			<string>{15, -19}</string>
			<key>spriteSize</key>
			<string>{52, 51}</string>
			<key>spriteSourceSize</key>
			<string>{86, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{127, 394}, {52, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{36, 42}, {48, 47}}</string>
			<key>spriteOffset</key>
			<string>{17, -21}</string>
			<key>spriteSize</key>
			<string>{48, 47}</string>
			<key>spriteSourceSize</key>
			<string>{86, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{59, 429}, {48, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_Small_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {39, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 44}</string>
			<key>spriteSourceSize</key>
			<string>{41, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{226, 394}, {39, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_Small_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {39, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 44}</string>
			<key>spriteSourceSize</key>
			<string>{41, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 323}, {39, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level8_FoxFire_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 0}, {59, 66}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{59, 66}</string>
			<key>spriteSourceSize</key>
			<string>{63, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 397}, {59, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level8_FoxFire_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {61, 68}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{61, 68}</string>
			<key>spriteSourceSize</key>
			<string>{63, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{175, 324}, {61, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level8_FoxFire_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {63, 66}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{63, 66}</string>
			<key>spriteSourceSize</key>
			<string>{63, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 330}, {63, 66}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level8_FoxFire_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 0}, {59, 68}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{59, 68}</string>
			<key>spriteSourceSize</key>
			<string>{63, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{65, 361}, {59, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level8_Fox_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 15}, {41, 46}}</string>
			<key>spriteOffset</key>
			<string>{3, -4}</string>
			<key>spriteSize</key>
			<string>{41, 46}</string>
			<key>spriteSourceSize</key>
			<string>{63, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 465}, {41, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level8_Fox_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 15}, {41, 46}}</string>
			<key>spriteOffset</key>
			<string>{3, -4}</string>
			<key>spriteSize</key>
			<string>{41, 46}</string>
			<key>spriteSourceSize</key>
			<string>{63, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{181, 394}, {41, 46}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level8_Hedgehog_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 35}</string>
			<key>spriteSourceSize</key>
			<string>{39, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{267, 396}, {39, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level8_Hedgehog_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {39, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{39, 35}</string>
			<key>spriteSourceSize</key>
			<string>{39, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{336, 369}, {39, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level8_Jim.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {90, 113}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{90, 113}</string>
			<key>spriteSourceSize</key>
			<string>{90, 113}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {90, 113}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>fireLevel</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>s</string>
			<key>textureFileName</key>
			<string>s</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>s</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>