<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>FireDShield_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 4}, {186, 210}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{186, 210}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{171, 434}, {186, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 1}, {196, 210}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{196, 210}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{612, 217}, {196, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {212, 212}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{212, 212}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{186, 0}, {212, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 4}, {186, 210}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{186, 210}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{612, 432}, {186, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {190, 212}}</string>
			<key>spriteOffset</key>
			<string>{-10, -1}</string>
			<key>spriteSize</key>
			<string>{190, 212}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{598, 0}, {190, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {210, 212}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{210, 212}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{186, 217}, {210, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {190, 212}}</string>
			<key>spriteOffset</key>
			<string>{-10, -1}</string>
			<key>spriteSize</key>
			<string>{190, 212}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{403, 0}, {190, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_Bullet_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {49, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 45}</string>
			<key>spriteSourceSize</key>
			<string>{53, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{549, 486}, {49, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_Bullet_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {51, 47}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{51, 47}</string>
			<key>spriteSourceSize</key>
			<string>{53, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{549, 434}, {51, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_Bullet_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {41, 31}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{41, 31}</string>
			<key>spriteSourceSize</key>
			<string>{53, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{549, 536}, {41, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireD_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {182, 210}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{182, 210}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{362, 434}, {182, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireD_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 1}, {192, 210}}</string>
			<key>spriteOffset</key>
			<string>{6, 1}</string>
			<key>spriteSize</key>
			<string>{192, 210}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{793, 0}, {192, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireD_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {206, 212}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{206, 212}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{401, 217}, {206, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire_VolcanoBBQ_Gas_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 29}, {8, 7}}</string>
			<key>spriteOffset</key>
			<string>{-10, -14}</string>
			<key>spriteSize</key>
			<string>{8, 7}</string>
			<key>spriteSourceSize</key>
			<string>{32, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{171, 304}, {8, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire_VolcanoBBQ_Gas_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 17}, {16, 19}}</string>
			<key>spriteOffset</key>
			<string>{-6, -8}</string>
			<key>spriteSize</key>
			<string>{16, 19}</string>
			<key>spriteSourceSize</key>
			<string>{32, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{582, 612}, {16, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire_VolcanoBBQ_Gas_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {28, 29}}</string>
			<key>spriteOffset</key>
			<string>{2, 3}</string>
			<key>spriteSize</key>
			<string>{28, 29}</string>
			<key>spriteSourceSize</key>
			<string>{32, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{549, 612}, {28, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire_VolcanoBBQ_Gas_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {30, 35}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{30, 35}</string>
			<key>spriteSourceSize</key>
			<string>{32, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{549, 572}, {30, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire_VolcanoBBQ_Large.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {182, 68}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{182, 68}</string>
			<key>spriteSourceSize</key>
			<string>{186, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{163, 649}, {182, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire_VolcanoBBQ_Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {178, 68}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{178, 68}</string>
			<key>spriteSourceSize</key>
			<string>{186, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 231}, {178, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {166, 175}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{166, 175}</string>
			<key>spriteSourceSize</key>
			<string>{172, 179}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 304}, {166, 175}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{14, 4}, {158, 171}}</string>
			<key>spriteOffset</key>
			<string>{7, -0}</string>
			<key>spriteSize</key>
			<string>{158, 171}</string>
			<key>spriteSourceSize</key>
			<string>{172, 179}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 484}, {158, 171}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{45, 35}, {118, 141}}</string>
			<key>spriteOffset</key>
			<string>{18, -16}</string>
			<key>spriteSize</key>
			<string>{118, 141}</string>
			<key>spriteSourceSize</key>
			<string>{172, 179}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{549, 647}, {118, 141}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{64, 76}, {104, 103}}</string>
			<key>spriteOffset</key>
			<string>{30, -38}</string>
			<key>spriteSize</key>
			<string>{104, 103}</string>
			<key>spriteSourceSize</key>
			<string>{172, 179}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{254, 788}, {104, 103}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{70, 86}, {98, 93}}</string>
			<key>spriteOffset</key>
			<string>{33, -43}</string>
			<key>spriteSize</key>
			<string>{98, 93}</string>
			<key>spriteSourceSize</key>
			<string>{172, 179}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{119, 859}, {98, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_Small_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {78, 87}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{78, 87}</string>
			<key>spriteSourceSize</key>
			<string>{82, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{452, 788}, {78, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_Small_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {78, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{78, 87}</string>
			<key>spriteSourceSize</key>
			<string>{82, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{672, 647}, {78, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level8_FoxFire_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 1}, {114, 130}}</string>
			<key>spriteOffset</key>
			<string>{1, 2}</string>
			<key>spriteSize</key>
			<string>{114, 130}</string>
			<key>spriteSourceSize</key>
			<string>{126, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 795}, {114, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level8_FoxFire_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{5, 2}, {120, 134}}</string>
			<key>spriteOffset</key>
			<string>{2, -1}</string>
			<key>spriteSize</key>
			<string>{120, 134}</string>
			<key>spriteSourceSize</key>
			<string>{126, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{350, 649}, {120, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level8_FoxFire_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 6}, {126, 130}}</string>
			<key>spriteOffset</key>
			<string>{0, -3}</string>
			<key>spriteSize</key>
			<string>{126, 130}</string>
			<key>spriteSourceSize</key>
			<string>{126, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 660}, {126, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level8_FoxFire_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 1}, {118, 132}}</string>
			<key>spriteOffset</key>
			<string>{-3, 1}</string>
			<key>spriteSize</key>
			<string>{118, 132}</string>
			<key>spriteSourceSize</key>
			<string>{126, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{131, 722}, {118, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level8_Fox_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 30}, {84, 94}}</string>
			<key>spriteOffset</key>
			<string>{6, -9}</string>
			<key>spriteSize</key>
			<string>{84, 94}</string>
			<key>spriteSourceSize</key>
			<string>{126, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 930}, {84, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level8_Fox_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{27, 30}, {84, 94}}</string>
			<key>spriteOffset</key>
			<string>{6, -9}</string>
			<key>spriteSize</key>
			<string>{84, 94}</string>
			<key>spriteSourceSize</key>
			<string>{126, 136}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{363, 788}, {84, 94}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level8_Hedgehog_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 70}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{76, 70}</string>
			<key>spriteSourceSize</key>
			<string>{78, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{535, 793}, {76, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level8_Hedgehog_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {78, 70}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{78, 70}</string>
			<key>spriteSourceSize</key>
			<string>{78, 70}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{672, 739}, {78, 70}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Level8_Jim.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {181, 226}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{181, 226}</string>
			<key>spriteSourceSize</key>
			<string>{181, 226}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {181, 226}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.1</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>fireLevel</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-hd</string>
			<key>textureFileName</key>
			<string>-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>