<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>FireDShield_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 4}, {186, 210}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{186, 210}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{195, 434}, {186, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{11, 1}, {196, 210}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{196, 210}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{643, 0}, {196, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 2}, {212, 212}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{212, 212}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {212, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 4}, {186, 210}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{186, 210}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 427}, {186, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {190, 212}}</string>
			<key>spriteOffset</key>
			<string>{-10, -1}</string>
			<key>spriteSize</key>
			<string>{190, 212}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{197, 217}, {190, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {210, 212}}</string>
			<key>spriteOffset</key>
			<string>{0, -1}</string>
			<key>spriteSize</key>
			<string>{210, 212}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{217, 0}, {210, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{1, 2}, {190, 212}}</string>
			<key>spriteOffset</key>
			<string>{-10, -1}</string>
			<key>spriteSize</key>
			<string>{190, 212}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 432}, {190, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_Bullet_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {49, 45}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{49, 45}</string>
			<key>spriteSourceSize</key>
			<string>{53, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{581, 269}, {49, 45}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_Bullet_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {51, 47}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{51, 47}</string>
			<key>spriteSourceSize</key>
			<string>{53, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{581, 217}, {51, 47}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireDShield_Bullet_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 10}, {41, 31}}</string>
			<key>spriteOffset</key>
			<string>{-4, -2}</string>
			<key>spriteSize</key>
			<string>{41, 31}</string>
			<key>spriteSourceSize</key>
			<string>{53, 47}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{581, 319}, {41, 31}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireD_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{18, 4}, {182, 210}}</string>
			<key>spriteOffset</key>
			<string>{3, -2}</string>
			<key>spriteSize</key>
			<string>{182, 210}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{583, 427}, {182, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireD_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{16, 1}, {192, 210}}</string>
			<key>spriteOffset</key>
			<string>{6, 1}</string>
			<key>spriteSize</key>
			<string>{192, 210}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 217}, {192, 210}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FireD_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{6, 2}, {206, 212}}</string>
			<key>spriteOffset</key>
			<string>{3, -1}</string>
			<key>spriteSize</key>
			<string>{206, 212}</string>
			<key>spriteSourceSize</key>
			<string>{212, 214}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{432, 0}, {206, 212}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire_VolcanoBBQ_Gas_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 29}, {8, 7}}</string>
			<key>spriteOffset</key>
			<string>{-10, -14}</string>
			<key>spriteSize</key>
			<string>{8, 7}</string>
			<key>spriteSourceSize</key>
			<string>{32, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{602, 395}, {8, 7}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire_VolcanoBBQ_Gas_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 17}, {16, 19}}</string>
			<key>spriteOffset</key>
			<string>{-6, -8}</string>
			<key>spriteSize</key>
			<string>{16, 19}</string>
			<key>spriteSourceSize</key>
			<string>{32, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{581, 395}, {16, 19}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire_VolcanoBBQ_Gas_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 1}, {28, 29}}</string>
			<key>spriteOffset</key>
			<string>{2, 3}</string>
			<key>spriteSize</key>
			<string>{28, 29}</string>
			<key>spriteSourceSize</key>
			<string>{32, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 361}, {28, 29}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire_VolcanoBBQ_Gas_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {30, 35}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{30, 35}</string>
			<key>spriteSourceSize</key>
			<string>{32, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{581, 355}, {30, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire_VolcanoBBQ_Large.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {182, 68}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{182, 68}</string>
			<key>spriteSourceSize</key>
			<string>{186, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 215}, {182, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fire_VolcanoBBQ_Small.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {178, 68}}</string>
			<key>spriteOffset</key>
			<string>{-4, -0}</string>
			<key>spriteSize</key>
			<string>{178, 68}</string>
			<key>spriteSourceSize</key>
			<string>{186, 68}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{842, 288}, {178, 68}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {194, 207}}</string>
			<key>spriteOffset</key>
			<string>{0, 2}</string>
			<key>spriteSize</key>
			<string>{194, 207}</string>
			<key>spriteSourceSize</key>
			<string>{202, 211}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{643, 215}, {194, 207}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{17, 5}, {184, 201}}</string>
			<key>spriteOffset</key>
			<string>{8, -0}</string>
			<key>spriteSize</key>
			<string>{184, 201}</string>
			<key>spriteSourceSize</key>
			<string>{202, 211}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{392, 217}, {184, 201}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{53, 42}, {138, 165}}</string>
			<key>spriteOffset</key>
			<string>{21, -19}</string>
			<key>spriteSize</key>
			<string>{138, 165}</string>
			<key>spriteSourceSize</key>
			<string>{202, 211}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 427}, {138, 165}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{76, 90}, {120, 121}}</string>
			<key>spriteOffset</key>
			<string>{35, -45}</string>
			<key>spriteSize</key>
			<string>{120, 121}</string>
			<key>spriteSourceSize</key>
			<string>{202, 211}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{844, 0}, {120, 121}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{83, 102}, {112, 109}}</string>
			<key>spriteOffset</key>
			<string>{38, -51}</string>
			<key>spriteSize</key>
			<string>{112, 109}</string>
			<key>spriteSourceSize</key>
			<string>{202, 211}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{770, 597}, {112, 109}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_Small_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {78, 87}}</string>
			<key>spriteOffset</key>
			<string>{1, -0}</string>
			<key>spriteSize</key>
			<string>{78, 87}</string>
			<key>spriteSourceSize</key>
			<string>{82, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{386, 642}, {78, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Fireball_Small_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {78, 87}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{78, 87}</string>
			<key>spriteSourceSize</key>
			<string>{82, 89}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{469, 642}, {78, 87}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5 GM</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>fireLevel</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>-hd</string>
			<key>textureFileName</key>
			<string>-hd</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>-hd</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>