<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>DIsco_HandBag_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {26, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{26, 37}</string>
			<key>spriteSourceSize</key>
			<string>{26, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{109, 112}, {26, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Disco_BreakDancer_Red_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{15, 9}, {135, 110}}</string>
			<key>spriteOffset</key>
			<string>{7, -4}</string>
			<key>spriteSize</key>
			<string>{135, 110}</string>
			<key>spriteSourceSize</key>
			<string>{151, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{116, 0}, {135, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Disco_BreakDancer_Red_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 3}, {97, 112}}</string>
			<key>spriteOffset</key>
			<string>{3, 1}</string>
			<key>spriteSize</key>
			<string>{97, 112}</string>
			<key>spriteSourceSize</key>
			<string>{151, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{306, 233}, {97, 112}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Disco_BreakDancer_Red_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 14}, {133, 106}}</string>
			<key>spriteOffset</key>
			<string>{-6, -7}</string>
			<key>spriteSize</key>
			<string>{133, 106}</string>
			<key>spriteSourceSize</key>
			<string>{151, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{316, 0}, {133, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Disco_BreakDancer_Red_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{30, 31}, {97, 84}}</string>
			<key>spriteOffset</key>
			<string>{3, -13}</string>
			<key>spriteSize</key>
			<string>{97, 84}</string>
			<key>spriteSourceSize</key>
			<string>{151, 120}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{46, 359}, {97, 84}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Disco_Dancer_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{23, 24}, {108, 140}}</string>
			<key>spriteOffset</key>
			<string>{2, 1}</string>
			<key>spriteSize</key>
			<string>{108, 140}</string>
			<key>spriteSourceSize</key>
			<string>{150, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{161, 112}, {108, 140}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Disco_Dancer_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{25, 23}, {102, 142}}</string>
			<key>spriteOffset</key>
			<string>{1, 1}</string>
			<key>spriteSize</key>
			<string>{102, 142}</string>
			<key>spriteSourceSize</key>
			<string>{150, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{143, 359}, {102, 142}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Disco_Dancer_Hit_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{26, 0}, {114, 164}}</string>
			<key>spriteOffset</key>
			<string>{8, 13}</string>
			<key>spriteSize</key>
			<string>{114, 164}</string>
			<key>spriteSourceSize</key>
			<string>{150, 190}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{46, 192}, {114, 164}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Disco_Jim_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 0}, {62, 106}}</string>
			<key>spriteOffset</key>
			<string>{-1, 3}</string>
			<key>spriteSize</key>
			<string>{62, 106}</string>
			<key>spriteSourceSize</key>
			<string>{84, 112}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{253, 0}, {62, 106}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Disco_Laser_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 448}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{9, 448}</string>
			<key>spriteSourceSize</key>
			<string>{9, 448}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {9, 448}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Disco_Laser_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 448}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{9, 448}</string>
			<key>spriteSourceSize</key>
			<string>{9, 448}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{34, 0}, {9, 448}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Disco_Laser_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 448}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{9, 448}</string>
			<key>spriteSourceSize</key>
			<string>{9, 448}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{11, 0}, {9, 448}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Disco_Laser_4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {9, 448}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{9, 448}</string>
			<key>spriteSourceSize</key>
			<string>{9, 448}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{23, 0}, {9, 448}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Disco_SpilledDrink_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {115, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, 1}</string>
			<key>spriteSize</key>
			<string>{115, 41}</string>
			<key>spriteSourceSize</key>
			<string>{115, 45}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 450}, {115, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FemaleDancer_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{10, 2}, {61, 93}}</string>
			<key>spriteOffset</key>
			<string>{4, -1}</string>
			<key>spriteSize</key>
			<string>{61, 93}</string>
			<key>spriteSourceSize</key>
			<string>{73, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{46, 96}, {61, 93}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FemaleDancer_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{9, 0}, {61, 95}}</string>
			<key>spriteOffset</key>
			<string>{3, -0}</string>
			<key>spriteSize</key>
			<string>{61, 95}</string>
			<key>spriteSourceSize</key>
			<string>{73, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{46, 0}, {61, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>FemaleDancer_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{12, 0}, {59, 95}}</string>
			<key>spriteOffset</key>
			<string>{5, -0}</string>
			<key>spriteSize</key>
			<string>{59, 95}</string>
			<key>spriteSourceSize</key>
			<string>{73, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{451, 0}, {59, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Female_Trixter_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{3, 1}, {69, 122}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{69, 122}</string>
			<key>spriteSourceSize</key>
			<string>{77, 124}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{344, 107}, {69, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Female_Trixter_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {71, 122}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{71, 122}</string>
			<key>spriteSourceSize</key>
			<string>{77, 124}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{247, 352}, {71, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Female_Trixter_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 1}, {73, 122}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{73, 122}</string>
			<key>spriteSourceSize</key>
			<string>{77, 124}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{269, 108}, {73, 122}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MaleDancer_1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{4, 0}, {69, 95}}</string>
			<key>spriteOffset</key>
			<string>{2, -0}</string>
			<key>spriteSize</key>
			<string>{69, 95}</string>
			<key>spriteSourceSize</key>
			<string>{73, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 254}, {69, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MaleDancer_2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{2, 0}, {69, 95}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{69, 95}</string>
			<key>spriteSourceSize</key>
			<string>{73, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{415, 107}, {69, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>MaleDancer_3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {71, 95}}</string>
			<key>spriteOffset</key>
			<string>{-1, -0}</string>
			<key>spriteSize</key>
			<string>{71, 95}</string>
			<key>spriteSourceSize</key>
			<string>{73, 95}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{161, 254}, {71, 95}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{512, 512}</string>
		<key>name</key>
		<string>discoLevel</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>s</string>
			<key>textureFileName</key>
			<string>discoLevel</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>discoLevel</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>